.search-area {
    background-color: #f2f3f4;
    padding: 16px;
    border: 2px solid #dddfe2;
    border-radius: 24px;
    margin-bottom: 25px;
    position: relative;

    &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #18203f;
    }
}
.select {
    display: flex;
    padding: 9px 16px;
    border: 2px solid #dddfe2;
    background-color: #f2f3f4;
    border-radius: 8px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    select {
        appearance: none;
        outline: none;
        box-shadow: none;
        width: 100%;
        border: none;
        background: none;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        text-indent: 16px;
        z-index: 1;
        font-size: 12px;
        color: #898f99;
    }

    &:after {
        @include sprite($icon-arrow-square-down);
        display: block;
        content: "";
    }

    @media (max-width:$phoneSize){
        margin-bottom:10px;
    }
}

input,
textarea {
    background-color: #f2f3f4;
    padding: 16px;
    border: 2px solid #dddfe2;
    border-radius: 8px;
    height: 30px;
    font-size: 12px;
    color: #898f99;
    width: 100%;
    @media (max-width:$phoneSize){
        margin-bottom:10px;
    }
}

.progress {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #c3d4ff;
    &:after {
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 12px;
        background-color: #3772ff;
        transition: all ease-in-out 0.3s;
    }
    @for $size from 100 through 1 {
        &[data-val="#{$size}"] {
            &:after {
                width: round(percentage($size/100));
            }
        }
    }

    &.gray {
        background-color: #dddfe2;
        &:after {
            background-color: #a9abb0;
        }
    }
}

.filter-area {
    margin-top: 55px;
    &-filters {
        margin-bottom: 15px;
        .btn {
            &:not(:last-child) {
                margin-right: 10px;
            }

            @media(max-width:$phoneSize){
                margin-bottom:10px;
            }
        }
    }

    &-body {
        .card {
            flex-basis: 30%;
            margin: 12px;
        }
    }
}

// Range
.range-wrapper {
    .rs-container {
        margin: 5px;
        display: inline-flex;
        width: 100%;
    }
    .rs-selected {
        height: 10px;
        border-radius: 6px;
        background-color: #3772ff;
        border: none;
        margin-top: 1px;
        transition: all ease-in-out .3s!important;
    }

    .rs-bg {
        height: 12px;
        border-radius: 6px;
        background-color: #dddfe2;
    }

    .rs-pointer {
        width: 8px;
        height: 8px;
        top: 7px !important;
        margin-left: -8px !important;
        border: none;
        transition: all ease-in-out .3s!important;

        &::before,
        &:after {
            content: unset;
        }
    }

    &:hover{
        .rs-pointer{
            transform: scale(2);
        }
    }

    @media (max-width:$phoneSize) {
        .rs-pointer{
            transform: scale(2.5);
        }

        &:hover{
            .rs-pointer{
                transform: scale(2.5);
            }
        }
    
    }

    .rs-scale {
        display: flex;
        span {
            &::before {
                content: unset;
            }
        }
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    label {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: $brand-darkBlue;
        margin-bottom: 16px;
    }

    input,
    .select,
    textarea {
        height: 56px;
        border: none;
        line-height: 56px;
        border-radius: $border-radius;
    }

    textarea {
        min-height: 100px;
        resize: none;
        line-height: unset;
    }
}
