.layout {
    width: 100%;
    max-width: 1920px;
    margin:0px auto;
    display: flex;
    &-left {
        flex-basis: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
        padding-left: 0.75rem;
        padding-top: 24px;
        transition: all ease-in-out 0.3s;
    }

    &-center {
        padding: $body-padding;
        flex-basis: 90%;
    }

    &-right{
        flex-basis: 10%;
    }
}

.menu-collapsed {
    .layout {
        &-left {
            flex-basis: 120px;
        }
    }
}
