.menu {
    padding: 28px 12px;
    background-color: $white;
    // border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    width: inherit;
    z-index: $menuZIndex;
    transition: all ease-in-out 0.3s;
    height: 100%;
    overflow: hidden;

    &:hover {
        overflow-y: scroll;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        align-items: center;
        .user-menu {
            display: none;
        }

        .hamburger {
            display: none;
        }

        figure {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            flex-basis: 100%;
            transition: all ease-in-out 0.3s;
            overflow: hidden;
            position: relative;
            img {
                transition: all ease-in-out 0.3s;
                &:last-child {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        button {
            padding: 0px;
            margin: 0px;
            background: none;
            border: none;
            display: inline-flex;
        }
    }

    .search-form {
        display: flex;
        margin-bottom: 24px;
        position: relative;
        border-radius: $input-radius;
        height: 40px;

        input[type="text"] {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            font-weight: 500;
            appearance: none;
            font-family: "Inter";
            // text-indent: 5px;
            outline: none;
            border-color: #f2f3f4;
            color: #9aa0a8;
            background-color: unset;
        }

        button[type="submit"] {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0px 16px;
            background: none;
            border: unset;
            height: 100%;
            transition: all ease-in-out 0.3s;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                display: flex;
                font-weight: 500;
                font-size: 14px;
                color: #18203f;
                text-decoration: none;
                align-items: center;
                position: relative;

                [class*="icon-"] {
                    margin-right: 8px;
                }
            }
        }
    }

    & > ul {
        li {
            margin-bottom: 10px;
            & > ul {
                li {
                    margin-bottom: 30px;
                }
                a {
                    font-weight: 500;
                    font-size: 14px;
                    &:hover,
                    &.active {
                        font-weight: 600;
                        [class*="icon-"] {
                            filter: saturate(13);
                        }
                    }

                    span {
                        &:not([class*="icon-"]) {
                            font-size: inherit;
                        }
                    }
                }
            }
            &.sub {
                & > a {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #898f99;
                    &::before {
                        @include sprite($icon-arrow-square-down);
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        transform: rotate(0deg);
                    }
                }

                & > ul {
                    max-height: 0;
                    overflow: hidden;
                    transition: all ease-in-out 0.3s;
                }

                &.show {
                    & > a {
                        // color: $brand-blue;
                        &::before {
                            transform: rotate(180deg);
                        }
                    }
                    & > ul {
                        margin-top: 28px;
                        max-height: 100vh;
                    }
                }
            }
        }
    }

    &-title {
        font-size: 12px;
        font-weight: 600;
        color: #898f99;
        margin-bottom: 10px;
    }


    @media (max-width: $phoneSize) {
        height: 80px;
        overflow: hidden;
        max-height: 80px;
        padding: 25px 15px;
        border-radius: 0;
        // box-shadow: 0px 0px 10px $gray-600;

        .logo {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            .hamburger {
                display: inline-flex;
            }
            .user-menu {
                display: block;
                margin: 0;

                ul {
                    li {
                        a {
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
            }
            figure {
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                img {
                    display: inline-block;
                    margin: 0px auto;
                }
            }
        }

        button:not(.hamburger) {
            display: none;
        }
    }
}

.menu-collapsed {
    @media (max-width: $phoneSize) {
        .hamburger {
            &:before {
                transform: rotate(-45deg);
                margin: 0;
            }

            &:after {
                transform: rotate(45deg);
                margin: 0;
            }
        }

        .menu {
            height: 100%;
            max-height: 100vh;
        }

        .menu-horizontal{
            nav{
                margin-top:20px;
                height: 100%;
            }
        }
    }

    @media (min-width: 1300px) {
        .menu {
            padding: 34px 21px;

            .logo {
                figure {
                    img {
                        &:first-child {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                    }
                    .icon {
                        opacity: 1;
                    }
                }
            }

            .search-form {
                input {
                    width: 0;
                    opacity: 0;
                    padding: 0;
                }

                button {
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                }
            }

            ul {
                li {
                    a {
                        justify-content: center;
                    }
                }
            }

            & > ul {
                & > li.sub {
                    & > a {
                        &::before {
                            content: unset;
                        }
                        span:not(:first-child) {
                            display: none;
                        }
                    }

                    & > ul {
                        li {
                            span {
                                &:not([class*="icon-"]) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .full-content {
                display: none;
            }

            .collapse-menu {
                transform: rotate(-180deg);
            }
        }
    }
}

.menu-horizontal {
    padding: 21px 32px;
    display: flex;
    background: $white;
    align-items: center;
    border-radius: $border-radius;
    margin-bottom: 24px;
    margin-top: 9px;
    transition: ease-in-out height .3s;
    .logo {
        height: 100%;
        margin: 0;
        text-align: left;
        justify-content: flex-start;
        display: flex;
        margin-right: 48px;
        img {
            width: auto;
            height: 24px;
            float: left;
        }
    }

    nav {
        transition: all ease-in-out .3s;
        a {
            display: inline-block;
            padding-top: 6px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: $brand-darkBlue;
            padding: 6px 16px 4px 16px;
        }
    }

    @media (max-width:$phoneSize){
        display: grid;
        grid-template: 'a a' max-content 'bb' max-content;
        // grid-template-rows: 1fr 1fr;

        .logo{
            grid-column: 1;
        }

        .hamburger{
            grid-column: 2;
            justify-self: flex-end;
        }

        nav{
            grid-row: 2;
            margin-top:0;
            max-height: 100vh;
            overflow: hidden;
            display: flex;
            height: 0;
            justify-self: flex-start;
            align-self: flex-start;
            flex-direction: column;

        }
    }
}