// Author Info
.author-info {
    margin: 32px 16px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $phoneSize) {
        flex-direction: column;
    }
    .info {
        flex-shrink: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $phoneSize) {
            flex-direction: column;
            margin-bottom: 10px;
        }
        .author {
            display: flex;
            align-items: center;
            @media (max-width: $phoneSize) {
                margin-bottom: 10px;
            }
            figure {
                width: 34px;
                margin: 0 12px 0 0;
                height: 34px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .desc {
                & > * {
                    display: block;
                }
                strong {
                    font-weight: 600;
                    color: $brand-darkBlue;
                    font-size: 14px;
                }

                span {
                    font-weight: 500;
                    font-size: 13px;
                    color: $brand-gray;
                }
            }
        }

        .badges {
            display: flex;
            padding: 10px 0px;
            @media (max-width: $phoneSize) {
                margin-bottom: 10px;
            }
            .badge{
                padding:10px;
                margin-right: 10px;

                [class*=fa-]{
                    font-size:10px;
                    margin-right: 10px;
                }
            }
        }
    }

    .actions {
        border: 2px solid #dddfe2;
        border-radius: $border-radius;
        display: inline-flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        & > * {
            margin: 0px 5px;
            transition: all ease-in-out 0.3s;
            &:hover {
                transform: scale(1.1);
            }

            [class*="fa-"] {
                color: $brand-darkBlue;
            }
        }
    }
}

.badge {
    border: 2px solid #dddfe2;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 14px;
    color: $brand-gray;
    margin-right: 16px;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [class*="icon-"] {
        margin-right: 5px;
    }
    span{
        &:last-child{
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
        }
    }
}

.emoji-list {
    margin-bottom: 32px;
    @media (max-width: $phoneSize) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        a {
            &:not(:last-child) {
                margin-right: 0px !important;
            }
        }
    }
    & > a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 44px;
        }

        .circle {
            width: 44px;
            height: 44px;
            border-radius: 100%;
            background-color: #f2f3f4;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            transition: all ease-in-out 0.3s;
            margin-bottom: 8px;
        }

        span:not(.circle) {
            display: block;
            font-weight: 600;
            font-size: 12px;
            color: #a9abb0;
        }

        &.selected,
        &:hover {
            .circle {
                border-color: #3772ff !important;
            }
            span:not(.circle) {
                color: #3772ff !important;
            }
        }
    }
}

// Comment Box
.comment-box {
    padding: 32px 24px;
    border-radius: $border-radius;
    background-color: $white;
    margin: 32px 0px;
    .emoji-list{
        .emoji{
            margin-right: 24px;
        }
    }
    .emoji-comment {
        & > span {
            font-weight: 600;
            font-size: 17px;
            color: $brand-darkBlue;
            display: block;
            margin-bottom: 24px;
        }
    }

    .comments {
        margin-bottom: 23px;
        & > span {
            font-weight: 600;
            font-size: 17px;
            color: $brand-darkBlue;
            line-height: 18px;
            position: relative;
            margin-bottom: 16px;
            display: inline-block;

            & > span {
                position: absolute;
                font-weight: 500;
                font-size: 12px;
                color: #898f99;
                right: -20px;
                top: -5px;
            }
        }

        .count{
            top:0;
        }

        .writer {
            position: relative;
            padding: 24px;
            background-color: #f2f3f4;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            textarea {
                width: 100%;
                height: 120px;
                background: none;
                border: none;
                outline: none;
                resize: none;
            }
            .editor {
                button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    border: none;
                    background: none;
                    border: 2px solid transparent;
                    height: 34px;
                    width: 34px;
                    border-radius: 100%;
                    &.selected {
                        border-color: $brand-blue;
                    }
                }
            }
        }
        &-footer {
            display: flex;
            .left {
                flex-basis: 100%;
            }
            .right {
                flex-basis: 100%;
                text-align: right;
                .btn {
                    margin-right: 15px;
                }
            }
            @media (max-width: $phoneSize) {
                flex-direction: column-reverse;
            }
        }

        &-list {
            padding-left: 16px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 14px;
                li {
                    position: relative;
                    padding-left: 46px;
                    img {
                        width: 34px;
                        height: 34px;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    span {
                        display: block;
                        font-size: 13px;
                        font-weight: 400;
                        color: #898f99;
                        &.name {
                            font-weight: 600;
                            font-size: 14px;
                            color: #18203f;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            & > ul {
                padding: 0;
                li {
                    ul {
                        margin: 24px 0px;
                    }
                }
            }
        }
    }
}

.section-block {
    margin-bottom: 68px;
    @media (max-width: $phoneSize) {
        margin-top: 30px;
    }
}

// Page Cuft
.page-cuft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $phoneSize) {
        flex-direction: column;
        &-content {
            margin-bottom: 10px;
        }
    }
    &-content {
        margin-right: 80px;
        h1 {
            font-size: 24px;
            font-weight: 700;
            color: $brand-darkBlue;
            line-height: 34px;
            margin-bottom: 24px;
        }

        .tags {
            margin-bottom: 24px;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #898f99;
            margin-bottom: 31px;
        }
    }

    figure {
        // width: 570px;
        flex-basis: 570px;
        border-radius: $border-radius;
        flex-shrink: 0;
        overflow: hidden;
        margin: 0;
        min-height: 380px;

        @media (max-width: $phoneSize) {
            display: none;
        }
    }
}

.blue-area {
    display: flex;
    padding: 32px;
    border-radius: 36px;
    background-color: #18203f;

    .card {
        &-title {
            color: $white !important;
        }

        p {
            color: #565f81;
        }
    }

    .filter-area {
        margin-top: 0;
        .filter-btn {
            border-color: #212b4f;
            color: #565f81;
            &.active {
                color: $white;
            }
        }
    }
}

// Alert
.alert {
    padding: 20px;
    display: block;
    border: 2px solid transparent;
    color: $brand-darkBlue;
    font-weight: 500;
    font-size: 14px;
    margin: 24px 0px;
    border-radius: $border-radius;
    background-color: $white;
    position: relative;
    transition: all ease-in-out 0.3s;
    text-decoration: none;

    &:hover {
        border-color: $brand-blue;
    }

    &::before,
    &::after {
        @include absoluteFlag();
    }

    &::after {
        left: unset;
        right: 0;
    }
}

.buttons {
    padding: 10px 0px;
    .btn {
        margin: 5px;
        display: inline-flex;
        width: unset;
    }
}

.guide-read-range {
    padding: 0px 20px;
    overflow: hidden;
}

// User Menu
.user-menu {
    padding: 6px;
    background-color: $white;
    border-radius: 12px;
    position: relative;
    margin-bottom: 24px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            display: inline-block;
            [class*="fa-"] {
                color: $brand-darkBlue;
            }
            img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 2px solid transparent;
            }
        }
    }

    & > ul {
        & > li {
            top: 0;
            right: 0;

            &:first-child {
                & > a {
                    &::after {
                        content: " ";
                        display: flex;
                        width: 3px;
                        height: 24px;
                        border-radius: 1px;
                        margin: 0px 10px;
                        background-color: #f2f3f4;
                    }
                }
            }
            & > a {
                display: flex;
                align-items: center;
                &.active {
                    z-index: 20;
                    position: relative;
                    &::after {
                        opacity: 0;
                    }
                    & + ul {
                        padding: 8px 24px;
                        padding-top: 48px;
                        width: unset;
                        height: unset;
                        opacity: 1;
                    }
                }
            }

            ul {
                top: 0;
                right: 0;
                position: absolute;
                z-index: 1;

                border: 0px solid #dddfe2;
                background-color: $white;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                max-width: 100vw;
                max-height: 100vh;
                box-shadow: 0px 0px 8px $brand-gray;

                width: 0px;
                opacity: 0;
                height: 0px;
                overflow: hidden;
                transition: opacity ease-in-out 0.3s;
                padding: 0px;

                li {
                    margin-bottom: 8px;
                    float: none;
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        color: #898f99;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

// Share Menu

.side-control-menu {
    padding: 16px 6px;
    border: 2px solid #dddfe2;
    border-radius: $border-radius;
    margin-bottom: 24px;

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            a {
                border-radius: 12px;
                border: 2px solid #dddfe2;
                display: flex;
                transition: all ease-in-out 0.3s;
                margin: 0px auto;
                justify-content: center;
                align-items: center;
                width: 40px;
                text-decoration: none;
                height: 40px;
                &:hover {
                    border-color: $brand-blue;
                }

                [class*="fa-"] {
                    color: $brand-darkBlue;
                }
            }
            &.more-item {
                display: none;
            }
        }

        &.active {
            .more-item {
                display: block;
            }
        }
    }

    .emoji-list {
        margin: 0;
        & > a {
            margin-right: 0;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            .circle {
                border-color: #dddfe2;
            }
        }
    }
}

// Side Index
#index-menu {
    position: relative;
    transition: all ease-in-out 0.3s;
    & > ul {
        & > li {
            & > a {
                position: relative;
                &::before {
                    position: absolute;
                    left: -8px;
                    z-index: 2;
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 8px solid #f2f3f4;
                    opacity: 0;
                    transition: inherit;
                }
            }
        }
    }
    &.active {
        background-color: $white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;

        & > ul {
            z-index: 3;
            position: relative;
            & > li {
                & > a {
                    border-color: #f2f3f4;
                    background-color: #f2f3f4;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.side-control-menu {
    position: relative;
    &.active {
        .index-wrapper {
            position: absolute;
            opacity: 1;
            z-index: -1;
            display: block;
        }

        background-color: $white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;

        & > ul {
            z-index: 3;
            position: relative;
            & > li {
                & > a {
                    border-color: #f2f3f4;
                    background-color: #f2f3f4;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.index-wrapper {
    list-style: decimal;
    position: absolute;
    transition: all ease-in-out 0.3s;
    max-width: 100vw;
    min-width: 350px;
    overflow: hidden;
    display: none;
    z-index: -1000;
    top: -2px;
    right: 100%;
    opacity: 0;
    padding: 30px 27px;
    background: $white;
    border: 2px solid #dddfe2 !important;
    border-radius: $border-radius;
    margin-right: -2px;
    border-top-right-radius: 0;

    .index-title {
        font-weight: 600;
        font-size: 16px;
        color: $brand-darkBlue;
        margin-bottom: 16px;
        display: block;
    }

    ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;

            a {
                width: unset;
                height: unset;
                display: inline-block;
                border: none;
                color: #898f99;
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                &.visit {
                    font-weight: bold;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
// User Card
.user-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: $border-radius;
    background-color: $white;
    margin-bottom: 24px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border-color ease-in-out 0.3s;

    &:hover {
        border-color: $brand-blue;
        figure {
            border-color: $brand-blue;
        }
    }
    figure {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        border: 2px solid transparent;
        transition: border-color ease-in-out 0.3s;

        img {
            width: 100%;
            height: auto;
        }
    }

    strong {
        font-weight: bold;
        color: $brand-darkBlue;
        font-size: 21px;
        line-height: 21px;
        margin-bottom: 16px;
    }

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #898f99;
    }

    .social-access {
        margin-top: 10px;
        background-color: unset !important;
    }
}

// Social Access
.social-access {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
    border: 2px solid #dddfe2;
    border-radius: $border-radius;
    padding: 14px 0;
    a {
        display: inline-flex;
        &:not(:last-child) {
            margin-right: 48px;
        }
    }
}

// Button Radio
.button-radio {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 8px 16px;
    input[type="radio"] {
        appearance: none;
        border: none;
        margin: 0;
        width: 80px;
        height: 40px;
        border: 2px solid #dddfe2;
        border-radius: 20px;
        transition: all ease-in-out 0.3s;
        position: relative;
        background-color: unset;
        cursor: pointer;

        &:checked {
            background-color: $brand-blue;
            border-color: $brand-blue;

            & + span {
                color: $white;
                z-index: 1;
            }
        }
    }

    span {
        font-weight: 500;
        color: #898f99;
        font-size: 13px;
        position: absolute;
        cursor: inherit;
        z-index: -1;
        transition: all ease-in-out 0.3s;
        padding:10px 16px;
    }
}

// Coin Converter
.coin-converter {
    display: flex;
    flex-direction: column;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        @media (max-width: $phoneSize) {
            flex-direction: column;
            & > span {
                margin-bottom: 10px;
            }
        }
        & > span {
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
            color: $brand-darkBlue;
        }

        .proccess-selection {
        }
    }

    &.small {
        .coin-converter-header {
            & > span {
                font-weight: 500;
                font-size: 24px;
                padding-left: 16px;
            }
        }
        .coin-compare-item {
            padding: 22px;
            .coin-compare-item-info {
                flex-basis: 50%;
                .names {
                    .name {
                        font-size: 17px;
                    }
                }
            }
            .coin-price {
                flex-basis: 50%;
                font-size: 18px;
            }
        }
    }

    .coin-compare-convert {
        [class*="fa-"] {
            color: $brand-gray;
        }
    }

    @media (max-width: $phoneSize) {
        margin-bottom: 15px;
    }
}

// Coin Compare
.coin-compare {
    position: relative;
    align-items: center;
    background-color: #dddfe2;
    border-radius: 16px;
    border: 2px solid #dddfe2;
    overflow: hidden;
    display: flex;
    &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-convert {
        position: absolute;
        left: 16px;
        border: 2px solid #dddfe2;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
        [class*="icon-"] {
            margin: 0;
        }
    }

    &-item {
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f3f4;

        @media (max-width: $phoneSize) {
            flex-direction: column;
            input {
                text-align: center !important;
            }
        }

        &.first {
            background-color: $white;
            margin-bottom: 2px;
        }

        &-info {
            align-items: center;
            justify-self: flex-start;
            figure {
                height: 44px;
                width: 44px;
                border-radius: 100%;
                overflow: hidden;
                display: block;
                float: left;
                margin-bottom: 0;
                margin-right: 16px;
                img {
                    width: 100%;
                }
            }

            .names {
                float: left;
                & > span {
                    display: inline-block;
                    width: 100%;
                    &.code {
                        font-weight: 500;
                        color: #898f99;
                        font-size: 16px;
                        line-height: 14px;
                        margin-bottom: 8px;
                    }

                    &.name {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;
                        color: $brand-darkBlue;
                    }
                }
            }
        }

        .coin-price {
            background: none;
            height: 100%;
            border: none;
            appearance: none;
            text-align: right;
            font-weight: bold;
            color: $brand-darkBlue;
            font-size: 24px;
            line-height: 24px;
            outline: none;
            &:focus {
                outline: none;
            }
        }
    }
}

// grid-list

.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &.c-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    a {
        text-decoration: unset;
        font-weight: 500;
        font-size: 13px;
        color: #898f99;
        padding: 7px 5px;
        display: block;

        &:hover {
            color: $brand-blue;
        }
    }
}

.white-box {
    padding: 16px;
    background-color: $white;
    border-radius: $border-radius;
    @media (max-width: $phoneSize) {
        margin-bottom: 10px;
        width: 100%;
        min-height: 300px;
    }
}

// Single Search Area Form"
.single-search-form {
    position: relative;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
    }
    button[type="submit"] {
        position: absolute;
        background: none;
        appearance: none;
        border: 0;
        right: 10px;
    }
}

.partner-list {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        img {
            width: 100%;
        }
    }

    @media (max-width: $phoneSize) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        a {
            margin: 10px;
        }
    }
}

.bookmark-btn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: none;
    appearance: none;
    border: none;
    background-color: $white;
    [class*=fa-]{
        color:$brand-darkBlue!important;
    }
}

.map-frame {
    border: none;
    width: 100%;
    height: 280px;
}

.form-box {
    padding: 32px 54px;
}

.flag-box {
    position: relative;
    &::before {
        @include absoluteFlag();
    }
}

.twin-circle {
    display: flex;
    justify-content: center;
    .circle {
        background-color: rgba(215, 227, 255, 0.5);
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        &:last-child {
            margin-left: -25px;
        }

        strong {
            font-weight: bold;
            font-size: 48px;
            color: $brand-darkBlue;
        }

        span {
            font-size: 18px;
            font-weight: 500;
            color: $brand-gray;
        }
    }
}

// Solution List
.solution-list {
    padding: 0px 10px;
    .solution-item {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        figure {
            display: flex;
            width: 80px;
            height: 80px;
            border: 2px solid #dddfe2;
            border-radius: 12px;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
        }

        strong {
            font-weight: bold;
            margin-bottom: 24px;
            font-size: 18px;
            color: $brand-darkBlue;
        }

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.char-list {
    display: flex;
    margin-bottom: 30px;
    span.char {
        flex-basis: 15%;
        font-weight: bold;
        font-size: 172px;
        color: #898f99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 35px;
        &::before,
        &::after {
            content: attr(data-char) " ";
            display: block;
        }

        &::before {
            font-size: 86px;
            opacity: 0.6;
            order: 1;
        }

        &::after {
            font-size: 43px;
            opacity: 0.3;
            order: 2;
        }
    }
    .list {
        flex-basis: 100%;
        .char-list-item {
            padding: 20px;
            border-radius: 24px;
            border: 2px solid #dddfe2;
            margin-bottom: 18px;
            a {
                color: $brand-darkBlue;
                text-decoration: none;
                font-size: 17px;
                font-weight: bold;
                line-height: 21px;
                margin-bottom: 12px;
                display: block;
                transition: all ease-in-out 0.3s;
                &:hover {
                    color: #3772ff;
                    text-decoration: underline;
                }
            }

            p {
                font-weight:400;
                font-size: 14px;
                line-height: 24px;
                color: #898f99;
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: $phoneSize) {
        flex-direction: column;
        span.char {
            margin: 0px;
            padding: 0;
            font-size: 3rem;
            display: flex;
            &::before,
            &::after {
                content: unset;
            }
        }
    }
}

// Char Filter
.char-filter-area {
    .char-filter-chars {
        height: 32px;
        display: flex;
        align-items: center;

        a {
            display: inline-flex;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            width: 16px;
            text-align: center;
            color: #898f99;
            transition: all ease-in-out 0.3s;
            margin: 0px 5px;
            position: unset;
            &:after {
                content: " ";
                display: block;
                width: 16px;
                position: absolute;
                height: 2px;
                background-color: $brand-blue;
                bottom: 2px;
                transition: all ease-in-out 0.3s;
                top: 100%;
                opacity: 0;
            }
            &.active {
                color: $brand-blue;
                &:after {
                    opacity: 1;
                }
            }
        }

        @media (max-width: $phoneSize) {
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 30px 0;

            a {
                &:after {
                    content: unset;
                }
            }
        }
    }
}

.ghost-box {
    padding: 32px;
    border: 2px solid #dddfe2;
    border-radius: 16px;
    margin: 15px 0px;
}

.data-label {
    &s {
        display: flex;
        flex-direction: column;
        .data-label {
            margin-bottom: 24px;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.col {
        flex-direction: column;
        align-items: flex-start;
    }

    span {
        &:first-child {
            font-weight: 500;
            font-size: 14px;
            color: #898f99;
            flex-basis: 100%;
        }

        &.values {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                display: block;
                font-weight: 600;
                color: $brand-darkBlue;
                font-size: 14px;
                padding: 5px 0px;
                text-align: right;
            }
        }
    }
}

.small-ads-box {
    width: 70%;
    margin: 0px auto;
}

.percent-tag {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    font-weight: 500;

    &::before {
        content: " ";
        display: block;
        left: -8px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        margin-right: 10px;
    }

    &.filled {
        border-radius: 15px;
        padding: 10px;
        &::before {
            margin-right: 5px;
        }
    }

    &.down {
        color: #ff6037;
        &::before {
            border-top: 8px solid #ff6037;
        }

        &.filled {
            background-color: #f4d5ce;
        }
    }

    &.up {
        color: #32d176;
        &::before {
            border-bottom: 8px solid #32d176;
        }

        &.filled {
            background-color: #baf6d4;
        }
    }
}

.coin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .coin-title {
        font-size: 36px;
        font-weight: bold;
        color: $brand-darkBlue;
        display: inline-flex;
        align-items: center;
        margin: 0px;

        img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }

    .coin-action-buttons {
        .btn {
            margin-left: 10px;
            border: none;
            &:not(.active) {
                background-color: #ccd9f6;
                color: #3772ff;
            }
        }
    }
}

.coin-stats {
    display: grid;
    width: 100%;
    padding:20px;
    grid-template-columns: 1fr 1.2fr 1.2fr 1.2fr;

    .coin-stats-item{
        .data-label{
            & > span{
                &:first-child{
                    font-size:12px;
                }

                &:last-child{
                    padding:5px 0px;
                    font-size: 12px;
                }
            }
        }
    }

    @media (max-width: $phoneSize) {
        display: flex;
        flex-direction: column;

        .coin-stats-item {
            display: flex;
            justify-content: space-around;
            padding: 16px;

            .data-label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                
            }
        }
    }

    &-large {
        flex-basis: 100%;

        .coin {
            &-name {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            &-value {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                & > strong {
                    font-weight: bold;
                    font-size: 28px;
                    color: $brand-darkBlue;
                    margin-right: 10px;
                }
            }

            &-sub-coin {
                display: flex;
                margin-bottom: 30px;
                align-items: center;
                & > span:first-child {
                    font-size: 14px;
                    font-weight: 500;
                    color: #a9abb0;
                    margin-right: 10px;
                }
            }
        }
    }

    &-item {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-box {
        display: inline-flex;
        flex-direction: column;
        padding: 7px;
    }
}

.status-label {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #a9abb0;
    margin-bottom: 8px;
    strong {
        color: #18203f;
        margin-left: 5px;
    }
}

// Tab

.tab-wrapper {
    display: flex;
    flex-direction: column;
    .tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .btn {
            padding: 12px 24px;
            margin-right: 16px;
            padding:10px 16px;
            font-size: 13px;
            font-weight: 600;

            &.active{
                border-color: transparent;
            }
        }

        @media (max-width: $phoneSize) {
            justify-content: center;
            .btn {
                padding: 10px 12px;
                font-size: 14px;
            }
        }
    }

    .tab-contents {
        .tab-item {
            display: none;
            padding: 26px 18px;
            &.active {
                display: block;
            }

            .tab-title {
                font-size: 24px;
                font-weight: bold;
                color: $brand-darkBlue;
                margin-bottom: 27px;
                display: block;
            }
        }
    }
}

.register-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-content {
        background-color: $white;
        display: inline-flex;
        padding: 48px 100px;
        flex-direction: column;
        max-width: 630px;
        border-radius: $border-radius;
        position: relative;
        &::before {
            content: "";
            @include absoluteFlag();
        }

        h1 {
            margin-bottom: 32px;
            font-weight: bold;
            font-size: 36px;
            &.center {
                text-align: center;
            }
        }

        button {
            background-color: #3772ff;
            border: none;
            font-size: 16px;
            font-weight: 500;
            padding: 20px;
            color: $white;
            border-radius: $border-radius;
        }

        p {
            font-size: 12px;
            color: #a9abb0;
            width: 80%;
            text-align: center;
            margin: 0px auto;
            margin-bottom: 32px;

            &.message {
                font-size: 18px;
                font-weight: 600;
                color: $brand-darkBlue;
                line-height: 28px;

                a {
                    color: #3772ff;
                    text-decoration: none;
                }
            }
        }

        a.sublink {
            font-size: 18px;
            font-weight: 600;
            color: $brand-darkBlue;
            text-decoration: underline;
            text-align: center;
        }

        .form-item {
            figure {
                width: 64px;
                height: 64px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
}

.mobile-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    position: fixed;
    top: 0;
    display: none;
    z-index: $modalZIndex;

    &-header {
        display: flex;
        justify-content: flex-end;
    }

    &.show {
        display: flex !important;
    }

    &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
    }
}

#user-popup {
    h1 {
        margin-bottom: 32px;
        font-weight: bold;
        font-size: 36px;
        &.center {
            text-align: center;
        }
    }

    button {
        background-color: #3772ff;
        border: none;
        font-size: 16px;
        font-weight: 500;
        padding: 20px;
        color: $white;
        border-radius: $border-radius;
    }

    p {
        font-size: 12px;
        color: #a9abb0;
        width: 80%;
        text-align: center;
        margin: 0px auto;
        margin-bottom: 32px;

        &.message {
            font-size: 18px;
            font-weight: 600;
            color: $brand-darkBlue;
            line-height: 28px;

            a {
                color: #3772ff;
                text-decoration: none;
            }
        }
    }

    a.sublink {
        font-size: 18px;
        font-weight: 600;
        color: $brand-darkBlue;
        text-decoration: underline;
        text-align: center;
    }

    .form-item {
        figure {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 64px;
                height: 64px;
            }
        }
    }
}

.timesbtn {
    border: none;
    background: none !important;
    appearance: none;
    padding: 5px !important;
    background-color: unset !important ;
    &:after {
        content: "X";
        font-size: 12px;
        font-weight: bold;
        display: block;
        color: $brand-darkBlue;
    }
}

.read-progress {
    width: 48px;
    height: 48px;
    margin: 0px auto;
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    $progress-bar-stroke-width: 2;
    $progress-bar-size: 48px;

    svg {
        height: $progress-bar-size;
        transform: rotate(-90deg);
        width: $progress-bar-size;
    }

    .progress-bar__background {
        fill: none;
        stroke: #dddfe2;
        stroke-width: $progress-bar-stroke-width;
    }

    .progress-bar__progress {
        fill: none;
        stroke: #3772ff;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 100;
        stroke-linecap: round;
        stroke-width: $progress-bar-stroke-width;
        transition: stroke-dashoffset 1s ease-in-out;
    }
    img {
        position: absolute;
        width: 34px;
        height: 34px;
    }
}

.app-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: $topZIndex;
    background: $gray-700;
    display: none !important;
    flex-direction: row;
    color: $white;
    border-radius: 12px;
    min-width: max-content;
    max-width: min-content;

    &-wrap {
        padding: 12px;
        position: relative;
    }

    .logo {
        margin: 10px;
    }

    .text {
        flex-basis: 300px;
        font-size: 12px;
        padding: 0px 12px;
        white-space: pre-wrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 200px;
        margin-bottom: 10px;
        strong {
            display: block;
        }
    }

    .app-links {
        display: inline-flex;
        align-items: center;
        a {
            margin: 0px 5px;
            flex-basis: calc(50% - 5px);
            width: calc(50% - 5px);
            max-width: 120px;
            img {
                width: 100%;
                max-width: 120px;
            }
        }
    }

    .timesbtn {
        position: absolute;
        top: 5px;
        right: 10px;
        &:after {
            color: $white;
        }
    }
    &.show {
        display: flex !important;
    }

    @media (max-width: $phoneSize) {
        max-width: 70vw;
        min-width: 70vw;

        .app-links {
            // flex-direction: column;
            a {
                // margin: 5px 0px;
            }
        }
    }
}

button.hamburger {
    background: none;
    border: none;
    appearance: none;
    width: 32px;
    height: 32px;
    padding: 12px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: none;
    &:before,
    &:after {
        content: "";
        display: none;
        display: block;
        width: 80%;
        height: 3px;
        background: $brand-blue;
        position: absolute;
        top: 50%;

        transition: all ease-in-out 0.3s;
    }
    &:before {
        margin-top: -5px;
    }

    &:after {
        margin-top: 5px;
    }
    @media (max-width: $phoneSize) {
        display: flex;
    }
}

.menu-collapsed {
    .hamburger {
        &:before {
            transform: rotate(-45deg);
            margin: 0;
        }

        &:after {
            transform: rotate(45deg);
            margin: 0;
        }
    }
}

.dummy-ads {
    border-radius: $border-radius;
    background-color: $brand-blue;
    height: 130px;
    margin-top: 48px;
}

.fixed-area {
    position: relative;
    width: 100%;
    height: 100%;
    &-wrapper {
        top: 0;
        position: sticky;
        left: 0;
    }
}

.ghost-title {
    padding-left: 0;
}

.kunye-box {
    align-items: center;
    justify-content: center;
    a {
        position: absolute;
        bottom: 20px;
        width: 90%;
    }
}

.label-switch {
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
        width: 55px;
        height: 28px;
        padding: 4px;
        position: relative;
        appearance: none;
        display: inline-flex;
        align-items: center;
        border-radius: $border-radius;

        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            right: 28px;
            position: absolute;
            background-color: $brand-darkBlue;
            border-radius: 100%;
            transition: all ease-in-out 0.3s;
        }

        &:checked {
            &::after {
                right: 4px;
                background-color: $brand-blue;
            }
        }
    }

    label {
        margin-left: 10px;
        font-size: 14px;
    }
}
