// Author Info
.author-info {
    margin: 32px 16px;
    display: flex;
    justify-content: space-between;
    .info {
        flex-shrink: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .author {
            display: flex;
            align-items: center;
            figure {
                width: 44px;
                margin: 0 12px 0 0;
                height: 44px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .desc {
                & > * {
                    display: block;
                }
                strong {
                    font-weight: bold;
                    color: $brand-darkBlue;
                    font-size: 16px;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: $brand-gray;
                }
            }
        }

        .badges {
            display: flex;
            padding: 10px 0px;
        }
    }

    .actions {
        border: 2px solid #dddfe2;
        border-radius: $border-radius;
        display: inline-flex;
        padding: 10px 21px;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        & > * {
            margin: 0px 5px;
            transition: all ease-in-out 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.badge {
    border: 2px solid $brand-gray;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 14px;
    color: $brand-gray;
    margin-right: 16px;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [class*="icon-"] {
        margin-right: 5px;
    }
}

// Comment Box
.comment-box {
    padding: 32px 24px;
    border-radius: $border-radius;
    background-color: $white;
    margin: 32px 0px;
    .emoji-comment {
        & > span {
            font-weight: 600;
            font-size: 18px;
            color: $brand-darkBlue;
            display: block;
            margin-bottom: 32px;
        }

        .emoji-list {
            margin-bottom: 32px;
            & > a {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                &:not(:last-child) {
                    margin-right: 44px;
                }
                .circle {
                    width: 44px;
                    height: 44px;
                    border-radius: 100%;
                    background-color: #f2f3f4;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid transparent;
                    transition: all ease-in-out 0.3s;
                    margin-bottom: 8px;
                }

                span:not(.circle) {
                    display: block;
                    font-weight: 600;
                    font-size: 12px;
                    color: #a9abb0;
                }

                &.selected,
                &:hover {
                    .circle {
                        border-color: #3772ff;
                    }
                    span:not(.circle) {
                        color: #3772ff;
                    }
                }
            }
        }
    }

    .comments {
        margin-bottom: 23px;
        & > span {
            font-weight: 600;
            font-size: 18px;
            color: $brand-darkBlue;
            line-height: 18px;
            position: relative;
            margin-bottom: 16px;
            display: inline-block;

            & > span {
                position: absolute;
                font-weight: 500;
                font-size: 12px;
                color: #898f99;
                right: -20px;
                top: -5px;
            }
        }

        .writer {
            position: relative;
            padding: 24px;
            background-color: #f2f3f4;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            textarea {
                width: 100%;
                height: 120px;
                background: none;
                border: none;
                outline: none;
                resize: none;
            }
            .editor {
                button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    border: none;
                    background: none;
                    border: 2px solid transparent;
                    height: 34px;
                    width: 34px;
                    border-radius: 100%;
                    &.selected {
                        border-color: $brand-blue;
                    }
                }
            }
        }
        &-footer {
            display: flex;
            .left {
                flex-basis: 100%;
            }
            .right {
                flex-basis: 100%;
                text-align: right;
                .btn {
                    margin-right: 15px;
                }
            }
        }

        &-list {
            padding-left: 16px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 14px;
                li {
                    position: relative;
                    padding-left: 56px;
                    img {
                        width: 44px;
                        height: 44px;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        color: #898f99;
                        &.name {
                            font-weight: 600;
                            font-size: 16px;
                            color: #18203f;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
            & > ul {
                padding: 0;
                li {
                    ul {
                        margin: 24px 0px;
                    }
                }
            }
        }
    }
}

.section-block {
    margin-bottom: 68px;
}

// Page Cuft
.page-cuft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
        margin-right: 80px;
        h1 {
            font-size: 36px;
            font-weight: bold;
            color: $brand-darkBlue;
            line-height: 44px;
            margin-bottom: 24px;
        }

        .tags {
            margin-bottom: 24px;
        }

        p {
            font-weight: 600;
            font-size: 21px;
            line-height: 28px;
            color: #898f99;
            margin-bottom: 31px;
        }
    }

    figure {
        // width: 570px;
        flex-basis: 570px;
        border-radius: $border-radius;
        flex-shrink: 0;
        overflow: hidden;
        margin: 0;
        min-height: 440px;
    }
}

.blue-area {
    display: flex;
    padding: 32px;
    border-radius: 36px;
    background-color: #18203f;

    .card {
        &-title {
            color: $white !important;
        }

        p {
            color: #565f81;
        }
    }

    .filter-area {
        margin-top: 0;
        .filter-btn {
            border-color: #212b4f;
            color: #565f81;
            &.active {
                color: $white;
            }
        }
    }
}

// Alert
.alert {
    padding: 24px;
    display: block;
    border: 2px solid $brand-blue;
    color: $brand-darkBlue;
    font-weight: 600;
    font-size: 18px;
    margin: 24px 0px;
    border-radius: $border-radius;
    background-color: $white;
    position: relative;

    &::before,
    &::after {
        @include absoluteFlag();
    }

    &::after {
        left: unset;
        right: 0;
    }
}

.buttons {
    padding:10px 0px;
    .btn {
        margin: 5px;
        display: inline-block;
        width: unset;
    }
}

.guide-read-range{
    width: 95%;
}
