// Author Info
.author-info {
    margin: 32px 16px;
    display: flex;
    justify-content: space-between;
    .info {
        flex-shrink: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .author {
            display: flex;
            align-items: center;
            figure {
                width: 44px;
                margin: 0 12px 0 0;
                height: 44px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .desc {
                & > * {
                    display: block;
                }
                strong {
                    font-weight: bold;
                    color: $brand-darkBlue;
                    font-size: 16px;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    color: $brand-gray;
                }
            }
        }

        .badges {
            display: flex;
            padding: 10px 0px;
        }
    }

    .actions {
        border: 2px solid #dddfe2;
        border-radius: $border-radius;
        display: inline-flex;
        padding: 10px 21px;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        & > * {
            margin: 0px 5px;
            transition: all ease-in-out 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.badge {
    border: 2px solid $brand-gray;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 14px;
    color: $brand-gray;
    margin-right: 16px;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    [class*="icon-"] {
        margin-right: 5px;
    }
}

.emoji-list {
    margin-bottom: 32px;
    & > a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 44px;
        }
        .circle {
            width: 44px;
            height: 44px;
            border-radius: 100%;
            background-color: #f2f3f4;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            transition: all ease-in-out 0.3s;
            margin-bottom: 8px;
        }

        span:not(.circle) {
            display: block;
            font-weight: 600;
            font-size: 12px;
            color: #a9abb0;
        }

        &.selected,
        &:hover {
            .circle {
                border-color: #3772ff !important;
            }
            span:not(.circle) {
                color: #3772ff !important;
            }
        }
    }
}

// Comment Box
.comment-box {
    padding: 32px 24px;
    border-radius: $border-radius;
    background-color: $white;
    margin: 32px 0px;
    .emoji-comment {
        & > span {
            font-weight: 600;
            font-size: 18px;
            color: $brand-darkBlue;
            display: block;
            margin-bottom: 32px;
        }
    }

    .comments {
        margin-bottom: 23px;
        & > span {
            font-weight: 600;
            font-size: 18px;
            color: $brand-darkBlue;
            line-height: 18px;
            position: relative;
            margin-bottom: 16px;
            display: inline-block;

            & > span {
                position: absolute;
                font-weight: 500;
                font-size: 12px;
                color: #898f99;
                right: -20px;
                top: -5px;
            }
        }

        .writer {
            position: relative;
            padding: 24px;
            background-color: #f2f3f4;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            textarea {
                width: 100%;
                height: 120px;
                background: none;
                border: none;
                outline: none;
                resize: none;
            }
            .editor {
                button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    border: none;
                    background: none;
                    border: 2px solid transparent;
                    height: 34px;
                    width: 34px;
                    border-radius: 100%;
                    &.selected {
                        border-color: $brand-blue;
                    }
                }
            }
        }
        &-footer {
            display: flex;
            .left {
                flex-basis: 100%;
            }
            .right {
                flex-basis: 100%;
                text-align: right;
                .btn {
                    margin-right: 15px;
                }
            }
        }

        &-list {
            padding-left: 16px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-left: 14px;
                li {
                    position: relative;
                    padding-left: 56px;
                    img {
                        width: 44px;
                        height: 44px;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        color: #898f99;
                        &.name {
                            font-weight: 600;
                            font-size: 16px;
                            color: #18203f;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
            & > ul {
                padding: 0;
                li {
                    ul {
                        margin: 24px 0px;
                    }
                }
            }
        }
    }
}

.section-block {
    margin-bottom: 68px;
}

// Page Cuft
.page-cuft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
        margin-right: 80px;
        h1 {
            font-size: 36px;
            font-weight: bold;
            color: $brand-darkBlue;
            line-height: 44px;
            margin-bottom: 24px;
        }

        .tags {
            margin-bottom: 24px;
        }

        p {
            font-weight: 600;
            font-size: 21px;
            line-height: 28px;
            color: #898f99;
            margin-bottom: 31px;
        }
    }

    figure {
        // width: 570px;
        flex-basis: 570px;
        border-radius: $border-radius;
        flex-shrink: 0;
        overflow: hidden;
        margin: 0;
        min-height: 440px;
    }
}

.blue-area {
    display: flex;
    padding: 32px;
    border-radius: 36px;
    background-color: #18203f;

    .card {
        &-title {
            color: $white !important;
        }

        p {
            color: #565f81;
        }
    }

    .filter-area {
        margin-top: 0;
        .filter-btn {
            border-color: #212b4f;
            color: #565f81;
            &.active {
                color: $white;
            }
        }
    }
}

// Alert
.alert {
    padding: 24px;
    display: block;
    border: 2px solid $brand-blue;
    color: $brand-darkBlue;
    font-weight: 600;
    font-size: 18px;
    margin: 24px 0px;
    border-radius: $border-radius;
    background-color: $white;
    position: relative;

    &::before,
    &::after {
        @include absoluteFlag();
    }

    &::after {
        left: unset;
        right: 0;
    }
}

.buttons {
    padding: 10px 0px;
    .btn {
        margin: 5px;
        display: inline-block;
        width: unset;
    }
}

.guide-read-range {
    width: 95%;
}

// User Menu
.user-menu {
    padding: 8px;
    background-color: $white;
    border-radius: 12px;
    position: relative;
    margin-bottom: 24px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            display: inline-block;
            img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 2px solid transparent;
            }
        }
    }

    & > ul {
        & > li {
            top: 0;
            right: 0;

            &:first-child {
                & > a {
                    &::after {
                        content: " ";
                        display: flex;
                        width: 3px;
                        height: 24px;
                        border-radius: 1px;
                        margin: 0px 10px;
                        background-color: #f2f3f4;
                    }
                }
            }
            & > a {
                display: flex;
                &.active {
                    z-index: 20;
                    position: relative;
                    &::after {
                        opacity: 0;
                    }
                    & + ul {
                        padding: 8px 24px;
                        padding-top: 48px;
                        width: unset;
                        height: unset;
                        opacity: 1;
                    }
                }
            }

            ul {
                top: 0;
                right: 0;
                position: absolute;
                z-index: 1;

                border: 0px solid #dddfe2;
                background-color: $white;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                max-width: 100vw;
                max-height: 100vh;
                box-shadow: 0px 0px 8px $brand-gray;

                width: 0px;
                opacity: 0;
                height: 0px;
                overflow: hidden;
                transition: opacity ease-in-out 0.3s;
                padding: 0px;

                li {
                    margin-bottom: 8px;
                    float: none;
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        color: #898f99;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

// Share Menu

.side-control-menu {
    padding: 16px;
    border: 2px solid #dddfe2;
    border-radius: $border-radius;
    margin-bottom: 24px;

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            a {
                border-radius: 12px;
                border: 2px solid #dddfe2;
                display: flex;
                transition: all ease-in-out 0.3s;
                margin: 0px auto;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                &:hover {
                    border-color: $brand-blue;
                }
            }
            &.more-item {
                display: none;
            }
        }

        &.active {
            .more-item {
                display: block;
            }
        }
    }

    .emoji-list {
        margin: 0;
        & > a {
            margin-right: 0;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            .circle {
                border-color: #dddfe2;
            }
        }
    }
}

// Side Index
#index-menu {
    position: relative;
    transition: all ease-in-out 0.3s;
    & > ul {
        & > li {
            & > a {
                position: relative;
                &::before {
                    position: absolute;
                    left: -8px;
                    z-index: 2;
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 8px solid #f2f3f4;
                    opacity: 0;
                    transition: inherit;
                }
            }
        }
    }
    &.active {
        background-color: $white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;

        & > ul {
            z-index: 3;
            position: relative;
            & > li {
                & > a {
                    border-color: #f2f3f4;
                    background-color: #f2f3f4;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        .index-wrapper {
            position: absolute;
            opacity: 1;

            z-index: -1;
        }
    }
}
.index-wrapper {
    list-style: decimal;
    position: absolute;
    transition: all ease-in-out 0.3s;
    max-width: 100vw;
    min-width: 350px;
    overflow: hidden;
    z-index: -1000;
    border: 1px solid red;
    top: -2px;
    right: 100%;
    opacity: 0;
    padding: 30px 27px;
    background: $white;
    border: 2px solid #dddfe2 !important;
    border-radius: $border-radius;
    margin-right: -2px;
    border-top-right-radius: 0;

    .index-title {
        font-weight: 600;
        font-size: 16px;
        color: $brand-darkBlue;
        margin-bottom: 16px;
        display: block;
    }

    ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;

            a {
                width: unset;
                height: unset;
                display: inline-block;
                border: none;
                color: #898f99;
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                &.visit {
                    font-weight: bold;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
// User Card
.user-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: $border-radius;
    background-color: $white;
    margin-bottom: 24px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border-color ease-in-out 0.3s;

    &:hover {
        border-color: $brand-blue;
        figure {
            border-color: $brand-blue;
        }
    }
    figure {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        border: 2px solid transparent;
        transition: border-color ease-in-out 0.3s;

        img {
            width: 100%;
            height: auto;
        }
    }

    strong {
        font-weight: bold;
        color: $brand-darkBlue;
        font-size: 21px;
        line-height: 21px;
        margin-bottom: 16px;
    }

    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #898f99;
    }
}

// Social Access
.social-access {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
    border: 2px solid #dddfe2;
    border-radius: $border-radius;
    padding: 14px 0;
    a {
        display: inline-flex;
        &:not(:last-child) {
            margin-right: 48px;
        }
    }
}

// Button Radio
.button-radio {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 8px 16px;
    input[type="radio"] {
        appearance: none;
        border: none;
        width: 80px;
        height: 40px;
        border: 2px solid #dddfe2;
        border-radius: 20px;
        transition: all ease-in-out 0.3s;
        position: relative;
        background-color: unset;
        cursor: pointer;

        &:checked {
            background-color: $brand-blue;
            border-color: $brand-blue;

            & + span {
                color: $white;
                z-index: 1;
            }
        }
    }

    span {
        font-weight: 500;
        color: #898f99;
        font-size: 16px;
        position: absolute;
        cursor: inherit;
        z-index: -1;
        transition: all ease-in-out 0.3s;
    }
}

// Coin Converter
.coin-converter {
    display: flex;
    flex-direction: column;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        & > span {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: $brand-darkBlue;
        }

        .proccess-selection {
        }
    }

    &-body {
    }
}

// Coin Compare
.coin-compare {
    position: relative;
    align-items: center;
    background-color: #dddfe2;
    border-radius: 16px;
    border: 2px solid #dddfe2;
    overflow: hidden;
    display: flex;
    &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-convert {
        position: absolute;
        left: 16px;
        border: 2px solid #dddfe2;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
        [class*="icon-"] {
            margin: 0;
        }
    }

    &-item {
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f3f4;

        &.first {
            background-color: $white;
            margin-bottom: 2px;
        }

        &-info {
            align-items: center;
            justify-self: flex-start;
            figure {
                height: 44px;
                width: 44px;
                border-radius: 100%;
                overflow: hidden;
                display: block;
                float: left;
                margin-right: 16px;
                img {
                    width: 100%;
                }
            }

            .names {
                float: left;
                & > span {
                    display: inline-block;
                    width: 100%;
                    &.code {
                        font-weight: 500;
                        color: #898f99;
                        font-size: 16px;
                        line-height: 14px;
                        margin-bottom: 8px;
                    }

                    &.name {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;
                        color: $brand-darkBlue;
                    }
                }
            }
        }

        .coin-price {
            background: none;
            height: 100%;
            border: none;
            appearance: none;
            text-align: right;
            font-weight: bold;
            color: $brand-darkBlue;
            font-size: 24px;
            line-height: 24px;
            outline: none;
            &:focus {
                outline: none;
            }
        }
    }
}

// grid-list

.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &.c-4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    a {
        text-decoration: unset;
        font-weight: 500;
        font-size: 16px;
        color:#898F99;
        padding:7px 5px;
        display: block;

        &:hover{
            color:$brand-blue;
        }
    }
}
