body {
    background-color: $body-background-color;
    padding: $body-padding;
    font-family: "Inter";
}

h2 {
    font-weight: bold;
    color: #18203f;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 0px;
    padding-left: 16px;
}
