// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-square-down-name: 'icon-arrow-square-down';
$icon-arrow-square-down-x: 42px;
$icon-arrow-square-down-y: 72px;
$icon-arrow-square-down-offset-x: -42px;
$icon-arrow-square-down-offset-y: -72px;
$icon-arrow-square-down-width: 16px;
$icon-arrow-square-down-height: 16px;
$icon-arrow-square-down-total-width: 117px;
$icon-arrow-square-down-total-height: 107px;
$icon-arrow-square-down-image: '/resources/images/sprite.png';
$icon-arrow-square-down: (42px, 72px, -42px, -72px, 16px, 16px, 117px, 107px, '/resources/images/sprite.png', 'icon-arrow-square-down', );
$icon-bitcoin-name: 'icon-bitcoin';
$icon-bitcoin-x: 25px;
$icon-bitcoin-y: 0px;
$icon-bitcoin-offset-x: -25px;
$icon-bitcoin-offset-y: 0px;
$icon-bitcoin-width: 24px;
$icon-bitcoin-height: 24px;
$icon-bitcoin-total-width: 117px;
$icon-bitcoin-total-height: 107px;
$icon-bitcoin-image: '/resources/images/sprite.png';
$icon-bitcoin: (25px, 0px, -25px, 0px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-bitcoin', );
$icon-book-name: 'icon-book';
$icon-book-x: 0px;
$icon-book-y: 24px;
$icon-book-offset-x: 0px;
$icon-book-offset-y: -24px;
$icon-book-width: 24px;
$icon-book-height: 24px;
$icon-book-total-width: 117px;
$icon-book-total-height: 107px;
$icon-book-image: '/resources/images/sprite.png';
$icon-book: (0px, 24px, 0px, -24px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-book', );
$icon-briefcase-name: 'icon-briefcase';
$icon-briefcase-x: 24px;
$icon-briefcase-y: 24px;
$icon-briefcase-offset-x: -24px;
$icon-briefcase-offset-y: -24px;
$icon-briefcase-width: 24px;
$icon-briefcase-height: 24px;
$icon-briefcase-total-width: 117px;
$icon-briefcase-total-height: 107px;
$icon-briefcase-image: '/resources/images/sprite.png';
$icon-briefcase: (24px, 24px, -24px, -24px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-briefcase', );
$icon-emoji-bear-name: 'icon-emoji-bear';
$icon-emoji-bear-x: 73px;
$icon-emoji-bear-y: 24px;
$icon-emoji-bear-offset-x: -73px;
$icon-emoji-bear-offset-y: -24px;
$icon-emoji-bear-width: 24px;
$icon-emoji-bear-height: 23px;
$icon-emoji-bear-total-width: 117px;
$icon-emoji-bear-total-height: 107px;
$icon-emoji-bear-image: '/resources/images/sprite.png';
$icon-emoji-bear: (73px, 24px, -73px, -24px, 24px, 23px, 117px, 107px, '/resources/images/sprite.png', 'icon-emoji-bear', );
$icon-emoji-bull-name: 'icon-emoji-bull';
$icon-emoji-bull-x: 0px;
$icon-emoji-bull-y: 72px;
$icon-emoji-bull-offset-x: 0px;
$icon-emoji-bull-offset-y: -72px;
$icon-emoji-bull-width: 24px;
$icon-emoji-bull-height: 17px;
$icon-emoji-bull-total-width: 117px;
$icon-emoji-bull-total-height: 107px;
$icon-emoji-bull-image: '/resources/images/sprite.png';
$icon-emoji-bull: (0px, 72px, 0px, -72px, 24px, 17px, 117px, 107px, '/resources/images/sprite.png', 'icon-emoji-bull', );
$icon-emoji-down-name: 'icon-emoji-down';
$icon-emoji-down-x: 73px;
$icon-emoji-down-y: 47px;
$icon-emoji-down-offset-x: -73px;
$icon-emoji-down-offset-y: -47px;
$icon-emoji-down-width: 24px;
$icon-emoji-down-height: 20px;
$icon-emoji-down-total-width: 117px;
$icon-emoji-down-total-height: 107px;
$icon-emoji-down-image: '/resources/images/sprite.png';
$icon-emoji-down: (73px, 47px, -73px, -47px, 24px, 20px, 117px, 107px, '/resources/images/sprite.png', 'icon-emoji-down', );
$icon-emoji-rocket-name: 'icon-emoji-rocket';
$icon-emoji-rocket-x: 49px;
$icon-emoji-rocket-y: 0px;
$icon-emoji-rocket-offset-x: -49px;
$icon-emoji-rocket-offset-y: 0px;
$icon-emoji-rocket-width: 24px;
$icon-emoji-rocket-height: 24px;
$icon-emoji-rocket-total-width: 117px;
$icon-emoji-rocket-total-height: 107px;
$icon-emoji-rocket-image: '/resources/images/sprite.png';
$icon-emoji-rocket: (49px, 0px, -49px, 0px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-emoji-rocket', );
$icon-emoji-up-name: 'icon-emoji-up';
$icon-emoji-up-x: 24px;
$icon-emoji-up-y: 72px;
$icon-emoji-up-offset-x: -24px;
$icon-emoji-up-offset-y: -72px;
$icon-emoji-up-width: 18px;
$icon-emoji-up-height: 16px;
$icon-emoji-up-total-width: 117px;
$icon-emoji-up-total-height: 107px;
$icon-emoji-up-image: '/resources/images/sprite.png';
$icon-emoji-up: (24px, 72px, -24px, -72px, 18px, 16px, 117px, 107px, '/resources/images/sprite.png', 'icon-emoji-up', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 66px;
$icon-facebook-y: 89px;
$icon-facebook-offset-x: -66px;
$icon-facebook-offset-y: -89px;
$icon-facebook-width: 11px;
$icon-facebook-height: 18px;
$icon-facebook-total-width: 117px;
$icon-facebook-total-height: 107px;
$icon-facebook-image: '/resources/images/sprite.png';
$icon-facebook: (66px, 89px, -66px, -89px, 11px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-facebook', );
$icon-gallery-edit-name: 'icon-gallery-edit';
$icon-gallery-edit-x: 49px;
$icon-gallery-edit-y: 24px;
$icon-gallery-edit-offset-x: -49px;
$icon-gallery-edit-offset-y: -24px;
$icon-gallery-edit-width: 24px;
$icon-gallery-edit-height: 24px;
$icon-gallery-edit-total-width: 117px;
$icon-gallery-edit-total-height: 107px;
$icon-gallery-edit-image: '/resources/images/sprite.png';
$icon-gallery-edit: (49px, 24px, -49px, -24px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-gallery-edit', );
$icon-gallery-name: 'icon-gallery';
$icon-gallery-x: 0px;
$icon-gallery-y: 48px;
$icon-gallery-offset-x: 0px;
$icon-gallery-offset-y: -48px;
$icon-gallery-width: 24px;
$icon-gallery-height: 24px;
$icon-gallery-total-width: 117px;
$icon-gallery-total-height: 107px;
$icon-gallery-image: '/resources/images/sprite.png';
$icon-gallery: (0px, 48px, 0px, -48px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-gallery', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 97px;
$icon-linkedin-y: 20px;
$icon-linkedin-offset-x: -97px;
$icon-linkedin-offset-y: -20px;
$icon-linkedin-width: 19px;
$icon-linkedin-height: 18px;
$icon-linkedin-total-width: 117px;
$icon-linkedin-total-height: 107px;
$icon-linkedin-image: '/resources/images/sprite.png';
$icon-linkedin: (97px, 20px, -97px, -20px, 19px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-linkedin', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 0px;
$icon-mail-y: 89px;
$icon-mail-offset-x: 0px;
$icon-mail-offset-y: -89px;
$icon-mail-width: 22px;
$icon-mail-height: 18px;
$icon-mail-total-width: 117px;
$icon-mail-total-height: 107px;
$icon-mail-image: '/resources/images/sprite.png';
$icon-mail: (0px, 89px, 0px, -89px, 22px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-mail', );
$icon-s-facebook-name: 'icon-s-facebook';
$icon-s-facebook-x: 58px;
$icon-s-facebook-y: 72px;
$icon-s-facebook-offset-x: -58px;
$icon-s-facebook-offset-y: -72px;
$icon-s-facebook-width: 16px;
$icon-s-facebook-height: 16px;
$icon-s-facebook-total-width: 117px;
$icon-s-facebook-total-height: 107px;
$icon-s-facebook-image: '/resources/images/sprite.png';
$icon-s-facebook: (58px, 72px, -58px, -72px, 16px, 16px, 117px, 107px, '/resources/images/sprite.png', 'icon-s-facebook', );
$icon-s-global-search-name: 'icon-s-global-search';
$icon-s-global-search-x: 24px;
$icon-s-global-search-y: 48px;
$icon-s-global-search-offset-x: -24px;
$icon-s-global-search-offset-y: -48px;
$icon-s-global-search-width: 24px;
$icon-s-global-search-height: 24px;
$icon-s-global-search-total-width: 117px;
$icon-s-global-search-total-height: 107px;
$icon-s-global-search-image: '/resources/images/sprite.png';
$icon-s-global-search: (24px, 48px, -24px, -48px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-s-global-search', );
$icon-s-linkedin-name: 'icon-s-linkedin';
$icon-s-linkedin-x: 97px;
$icon-s-linkedin-y: 38px;
$icon-s-linkedin-offset-x: -97px;
$icon-s-linkedin-offset-y: -38px;
$icon-s-linkedin-width: 19px;
$icon-s-linkedin-height: 18px;
$icon-s-linkedin-total-width: 117px;
$icon-s-linkedin-total-height: 107px;
$icon-s-linkedin-image: '/resources/images/sprite.png';
$icon-s-linkedin: (97px, 38px, -97px, -38px, 19px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-s-linkedin', );
$icon-s-mail-name: 'icon-s-mail';
$icon-s-mail-x: 22px;
$icon-s-mail-y: 89px;
$icon-s-mail-offset-x: -22px;
$icon-s-mail-offset-y: -89px;
$icon-s-mail-width: 22px;
$icon-s-mail-height: 18px;
$icon-s-mail-total-width: 117px;
$icon-s-mail-total-height: 107px;
$icon-s-mail-image: '/resources/images/sprite.png';
$icon-s-mail: (22px, 89px, -22px, -89px, 22px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-s-mail', );
$icon-s-twitter-name: 'icon-s-twitter';
$icon-s-twitter-x: 74px;
$icon-s-twitter-y: 72px;
$icon-s-twitter-offset-x: -74px;
$icon-s-twitter-offset-y: -72px;
$icon-s-twitter-width: 16px;
$icon-s-twitter-height: 16px;
$icon-s-twitter-total-width: 117px;
$icon-s-twitter-total-height: 107px;
$icon-s-twitter-image: '/resources/images/sprite.png';
$icon-s-twitter: (74px, 72px, -74px, -72px, 16px, 16px, 117px, 107px, '/resources/images/sprite.png', 'icon-s-twitter', );
$icon-star-name: 'icon-star';
$icon-star-x: 97px;
$icon-star-y: 56px;
$icon-star-offset-x: -97px;
$icon-star-offset-y: -56px;
$icon-star-width: 18px;
$icon-star-height: 18px;
$icon-star-total-width: 117px;
$icon-star-total-height: 107px;
$icon-star-image: '/resources/images/sprite.png';
$icon-star: (97px, 56px, -97px, -56px, 18px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-star', );
$icon-teacher-name: 'icon-teacher';
$icon-teacher-x: 48px;
$icon-teacher-y: 48px;
$icon-teacher-offset-x: -48px;
$icon-teacher-offset-y: -48px;
$icon-teacher-width: 24px;
$icon-teacher-height: 24px;
$icon-teacher-total-width: 117px;
$icon-teacher-total-height: 107px;
$icon-teacher-image: '/resources/images/sprite.png';
$icon-teacher: (48px, 48px, -48px, -48px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-teacher', );
$icon-text-size-down-name: 'icon-text-size-down';
$icon-text-size-down-x: 97px;
$icon-text-size-down-y: 0px;
$icon-text-size-down-offset-x: -97px;
$icon-text-size-down-offset-y: 0px;
$icon-text-size-down-width: 20px;
$icon-text-size-down-height: 20px;
$icon-text-size-down-total-width: 117px;
$icon-text-size-down-total-height: 107px;
$icon-text-size-down-image: '/resources/images/sprite.png';
$icon-text-size-down: (97px, 0px, -97px, 0px, 20px, 20px, 117px, 107px, '/resources/images/sprite.png', 'icon-text-size-down', );
$icon-text-size-up-name: 'icon-text-size-up';
$icon-text-size-up-x: 0px;
$icon-text-size-up-y: 0px;
$icon-text-size-up-offset-x: 0px;
$icon-text-size-up-offset-y: 0px;
$icon-text-size-up-width: 25px;
$icon-text-size-up-height: 24px;
$icon-text-size-up-total-width: 117px;
$icon-text-size-up-total-height: 107px;
$icon-text-size-up-image: '/resources/images/sprite.png';
$icon-text-size-up: (0px, 0px, 0px, 0px, 25px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-text-size-up', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 44px;
$icon-twitter-y: 89px;
$icon-twitter-offset-x: -44px;
$icon-twitter-offset-y: -89px;
$icon-twitter-width: 22px;
$icon-twitter-height: 18px;
$icon-twitter-total-width: 117px;
$icon-twitter-total-height: 107px;
$icon-twitter-image: '/resources/images/sprite.png';
$icon-twitter: (44px, 89px, -44px, -89px, 22px, 18px, 117px, 107px, '/resources/images/sprite.png', 'icon-twitter', );
$icon-wallet-name: 'icon-wallet';
$icon-wallet-x: 73px;
$icon-wallet-y: 0px;
$icon-wallet-offset-x: -73px;
$icon-wallet-offset-y: 0px;
$icon-wallet-width: 24px;
$icon-wallet-height: 24px;
$icon-wallet-total-width: 117px;
$icon-wallet-total-height: 107px;
$icon-wallet-image: '/resources/images/sprite.png';
$icon-wallet: (73px, 0px, -73px, 0px, 24px, 24px, 117px, 107px, '/resources/images/sprite.png', 'icon-wallet', );
$spritesheet-width: 117px;
$spritesheet-height: 107px;
$spritesheet-image: '/resources/images/sprite.png';
$spritesheet-sprites: ($icon-arrow-square-down, $icon-bitcoin, $icon-book, $icon-briefcase, $icon-emoji-bear, $icon-emoji-bull, $icon-emoji-down, $icon-emoji-rocket, $icon-emoji-up, $icon-facebook, $icon-gallery-edit, $icon-gallery, $icon-linkedin, $icon-mail, $icon-s-facebook, $icon-s-global-search, $icon-s-linkedin, $icon-s-mail, $icon-s-twitter, $icon-star, $icon-teacher, $icon-text-size-down, $icon-text-size-up, $icon-twitter, $icon-wallet, );
$spritesheet: (117px, 107px, '/resources/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
