// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-app-name: 'icon-app';
$icon-app-x: 24px;
$icon-app-y: 96px;
$icon-app-offset-x: -24px;
$icon-app-offset-y: -96px;
$icon-app-width: 16px;
$icon-app-height: 16px;
$icon-app-total-width: 155px;
$icon-app-total-height: 129px;
$icon-app-image: '/resources/images/sprite.png';
$icon-app: (24px, 96px, -24px, -96px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-app', );
$icon-arrow-left-name: 'icon-arrow-left';
$icon-arrow-left-x: 40px;
$icon-arrow-left-y: 96px;
$icon-arrow-left-offset-x: -40px;
$icon-arrow-left-offset-y: -96px;
$icon-arrow-left-width: 16px;
$icon-arrow-left-height: 16px;
$icon-arrow-left-total-width: 155px;
$icon-arrow-left-total-height: 129px;
$icon-arrow-left-image: '/resources/images/sprite.png';
$icon-arrow-left: (40px, 96px, -40px, -96px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-arrow-left', );
$icon-arrow-square-down-name: 'icon-arrow-square-down';
$icon-arrow-square-down-x: 56px;
$icon-arrow-square-down-y: 96px;
$icon-arrow-square-down-offset-x: -56px;
$icon-arrow-square-down-offset-y: -96px;
$icon-arrow-square-down-width: 16px;
$icon-arrow-square-down-height: 16px;
$icon-arrow-square-down-total-width: 155px;
$icon-arrow-square-down-total-height: 129px;
$icon-arrow-square-down-image: '/resources/images/sprite.png';
$icon-arrow-square-down: (56px, 96px, -56px, -96px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-arrow-square-down', );
$icon-arrow-square-left-name: 'icon-arrow-square-left';
$icon-arrow-square-left-x: 72px;
$icon-arrow-square-left-y: 96px;
$icon-arrow-square-left-offset-x: -72px;
$icon-arrow-square-left-offset-y: -96px;
$icon-arrow-square-left-width: 16px;
$icon-arrow-square-left-height: 16px;
$icon-arrow-square-left-total-width: 155px;
$icon-arrow-square-left-total-height: 129px;
$icon-arrow-square-left-image: '/resources/images/sprite.png';
$icon-arrow-square-left: (72px, 96px, -72px, -96px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-arrow-square-left', );
$icon-arrow-square-right-name: 'icon-arrow-square-right';
$icon-arrow-square-right-x: 88px;
$icon-arrow-square-right-y: 96px;
$icon-arrow-square-right-offset-x: -88px;
$icon-arrow-square-right-offset-y: -96px;
$icon-arrow-square-right-width: 16px;
$icon-arrow-square-right-height: 16px;
$icon-arrow-square-right-total-width: 155px;
$icon-arrow-square-right-total-height: 129px;
$icon-arrow-square-right-image: '/resources/images/sprite.png';
$icon-arrow-square-right: (88px, 96px, -88px, -96px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-arrow-square-right', );
$icon-bitcoin-name: 'icon-bitcoin';
$icon-bitcoin-x: 25px;
$icon-bitcoin-y: 0px;
$icon-bitcoin-offset-x: -25px;
$icon-bitcoin-offset-y: 0px;
$icon-bitcoin-width: 24px;
$icon-bitcoin-height: 24px;
$icon-bitcoin-total-width: 155px;
$icon-bitcoin-total-height: 129px;
$icon-bitcoin-image: '/resources/images/sprite.png';
$icon-bitcoin: (25px, 0px, -25px, 0px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-bitcoin', );
$icon-book-name: 'icon-book';
$icon-book-x: 0px;
$icon-book-y: 24px;
$icon-book-offset-x: 0px;
$icon-book-offset-y: -24px;
$icon-book-width: 24px;
$icon-book-height: 24px;
$icon-book-total-width: 155px;
$icon-book-total-height: 129px;
$icon-book-image: '/resources/images/sprite.png';
$icon-book: (0px, 24px, 0px, -24px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-book', );
$icon-bookmark-name: 'icon-bookmark';
$icon-bookmark-x: 24px;
$icon-bookmark-y: 24px;
$icon-bookmark-offset-x: -24px;
$icon-bookmark-offset-y: -24px;
$icon-bookmark-width: 24px;
$icon-bookmark-height: 24px;
$icon-bookmark-total-width: 155px;
$icon-bookmark-total-height: 129px;
$icon-bookmark-image: '/resources/images/sprite.png';
$icon-bookmark: (24px, 24px, -24px, -24px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-bookmark', );
$icon-briefcase-name: 'icon-briefcase';
$icon-briefcase-x: 49px;
$icon-briefcase-y: 0px;
$icon-briefcase-offset-x: -49px;
$icon-briefcase-offset-y: 0px;
$icon-briefcase-width: 24px;
$icon-briefcase-height: 24px;
$icon-briefcase-total-width: 155px;
$icon-briefcase-total-height: 129px;
$icon-briefcase-image: '/resources/images/sprite.png';
$icon-briefcase: (49px, 0px, -49px, 0px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-briefcase', );
$icon-emoji-bear-name: 'icon-emoji-bear';
$icon-emoji-bear-x: 24px;
$icon-emoji-bear-y: 72px;
$icon-emoji-bear-offset-x: -24px;
$icon-emoji-bear-offset-y: -72px;
$icon-emoji-bear-width: 24px;
$icon-emoji-bear-height: 23px;
$icon-emoji-bear-total-width: 155px;
$icon-emoji-bear-total-height: 129px;
$icon-emoji-bear-image: '/resources/images/sprite.png';
$icon-emoji-bear: (24px, 72px, -24px, -72px, 24px, 23px, 155px, 129px, '/resources/images/sprite.png', 'icon-emoji-bear', );
$icon-emoji-bull-name: 'icon-emoji-bull';
$icon-emoji-bull-x: 0px;
$icon-emoji-bull-y: 96px;
$icon-emoji-bull-offset-x: 0px;
$icon-emoji-bull-offset-y: -96px;
$icon-emoji-bull-width: 24px;
$icon-emoji-bull-height: 17px;
$icon-emoji-bull-total-width: 155px;
$icon-emoji-bull-total-height: 129px;
$icon-emoji-bull-image: '/resources/images/sprite.png';
$icon-emoji-bull: (0px, 96px, 0px, -96px, 24px, 17px, 155px, 129px, '/resources/images/sprite.png', 'icon-emoji-bull', );
$icon-emoji-down-name: 'icon-emoji-down';
$icon-emoji-down-x: 70px;
$icon-emoji-down-y: 72px;
$icon-emoji-down-offset-x: -70px;
$icon-emoji-down-offset-y: -72px;
$icon-emoji-down-width: 24px;
$icon-emoji-down-height: 20px;
$icon-emoji-down-total-width: 155px;
$icon-emoji-down-total-height: 129px;
$icon-emoji-down-image: '/resources/images/sprite.png';
$icon-emoji-down: (70px, 72px, -70px, -72px, 24px, 20px, 155px, 129px, '/resources/images/sprite.png', 'icon-emoji-down', );
$icon-emoji-rocket-name: 'icon-emoji-rocket';
$icon-emoji-rocket-x: 49px;
$icon-emoji-rocket-y: 24px;
$icon-emoji-rocket-offset-x: -49px;
$icon-emoji-rocket-offset-y: -24px;
$icon-emoji-rocket-width: 24px;
$icon-emoji-rocket-height: 24px;
$icon-emoji-rocket-total-width: 155px;
$icon-emoji-rocket-total-height: 129px;
$icon-emoji-rocket-image: '/resources/images/sprite.png';
$icon-emoji-rocket: (49px, 24px, -49px, -24px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-emoji-rocket', );
$icon-emoji-up-name: 'icon-emoji-up';
$icon-emoji-up-x: 97px;
$icon-emoji-up-y: 60px;
$icon-emoji-up-offset-x: -97px;
$icon-emoji-up-offset-y: -60px;
$icon-emoji-up-width: 18px;
$icon-emoji-up-height: 16px;
$icon-emoji-up-total-width: 155px;
$icon-emoji-up-total-height: 129px;
$icon-emoji-up-image: '/resources/images/sprite.png';
$icon-emoji-up: (97px, 60px, -97px, -60px, 18px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-emoji-up', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 139px;
$icon-facebook-y: 32px;
$icon-facebook-offset-x: -139px;
$icon-facebook-offset-y: -32px;
$icon-facebook-width: 11px;
$icon-facebook-height: 18px;
$icon-facebook-total-width: 155px;
$icon-facebook-total-height: 129px;
$icon-facebook-image: '/resources/images/sprite.png';
$icon-facebook: (139px, 32px, -139px, -32px, 11px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-facebook', );
$icon-font-bold-name: 'icon-font-bold';
$icon-font-bold-x: 139px;
$icon-font-bold-y: 82px;
$icon-font-bold-offset-x: -139px;
$icon-font-bold-offset-y: -82px;
$icon-font-bold-width: 11px;
$icon-font-bold-height: 14px;
$icon-font-bold-total-width: 155px;
$icon-font-bold-total-height: 129px;
$icon-font-bold-image: '/resources/images/sprite.png';
$icon-font-bold: (139px, 82px, -139px, -82px, 11px, 14px, 155px, 129px, '/resources/images/sprite.png', 'icon-font-bold', );
$icon-font-italic-name: 'icon-font-italic';
$icon-font-italic-x: 150px;
$icon-font-italic-y: 32px;
$icon-font-italic-offset-x: -150px;
$icon-font-italic-offset-y: -32px;
$icon-font-italic-width: 5px;
$icon-font-italic-height: 14px;
$icon-font-italic-total-width: 155px;
$icon-font-italic-total-height: 129px;
$icon-font-italic-image: '/resources/images/sprite.png';
$icon-font-italic: (150px, 32px, -150px, -32px, 5px, 14px, 155px, 129px, '/resources/images/sprite.png', 'icon-font-italic', );
$icon-gallery-edit-name: 'icon-gallery-edit';
$icon-gallery-edit-x: 0px;
$icon-gallery-edit-y: 48px;
$icon-gallery-edit-offset-x: 0px;
$icon-gallery-edit-offset-y: -48px;
$icon-gallery-edit-width: 24px;
$icon-gallery-edit-height: 24px;
$icon-gallery-edit-total-width: 155px;
$icon-gallery-edit-total-height: 129px;
$icon-gallery-edit-image: '/resources/images/sprite.png';
$icon-gallery-edit: (0px, 48px, 0px, -48px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-gallery-edit', );
$icon-gallery-name: 'icon-gallery';
$icon-gallery-x: 24px;
$icon-gallery-y: 48px;
$icon-gallery-offset-x: -24px;
$icon-gallery-offset-y: -48px;
$icon-gallery-width: 24px;
$icon-gallery-height: 24px;
$icon-gallery-total-width: 155px;
$icon-gallery-total-height: 129px;
$icon-gallery-image: '/resources/images/sprite.png';
$icon-gallery: (24px, 48px, -24px, -48px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-gallery', );
$icon-home-name: 'icon-home';
$icon-home-x: 0px;
$icon-home-y: 113px;
$icon-home-offset-x: 0px;
$icon-home-offset-y: -113px;
$icon-home-width: 16px;
$icon-home-height: 16px;
$icon-home-total-width: 155px;
$icon-home-total-height: 129px;
$icon-home-image: '/resources/images/sprite.png';
$icon-home: (0px, 113px, 0px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-home', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 117px;
$icon-linkedin-y: 72px;
$icon-linkedin-offset-x: -117px;
$icon-linkedin-offset-y: -72px;
$icon-linkedin-width: 19px;
$icon-linkedin-height: 18px;
$icon-linkedin-total-width: 155px;
$icon-linkedin-total-height: 129px;
$icon-linkedin-image: '/resources/images/sprite.png';
$icon-linkedin: (117px, 72px, -117px, -72px, 19px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-linkedin', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 117px;
$icon-mail-y: 0px;
$icon-mail-offset-x: -117px;
$icon-mail-offset-y: 0px;
$icon-mail-width: 22px;
$icon-mail-height: 18px;
$icon-mail-total-width: 155px;
$icon-mail-total-height: 129px;
$icon-mail-image: '/resources/images/sprite.png';
$icon-mail: (117px, 0px, -117px, 0px, 22px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-mail', );
$icon-refresh-name: 'icon-refresh';
$icon-refresh-x: 16px;
$icon-refresh-y: 113px;
$icon-refresh-offset-x: -16px;
$icon-refresh-offset-y: -113px;
$icon-refresh-width: 16px;
$icon-refresh-height: 16px;
$icon-refresh-total-width: 155px;
$icon-refresh-total-height: 129px;
$icon-refresh-image: '/resources/images/sprite.png';
$icon-refresh: (16px, 113px, -16px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-refresh', );
$icon-s-book-name: 'icon-s-book';
$icon-s-book-x: 139px;
$icon-s-book-y: 16px;
$icon-s-book-offset-x: -139px;
$icon-s-book-offset-y: -16px;
$icon-s-book-width: 14px;
$icon-s-book-height: 16px;
$icon-s-book-total-width: 155px;
$icon-s-book-total-height: 129px;
$icon-s-book-image: '/resources/images/sprite.png';
$icon-s-book: (139px, 16px, -139px, -16px, 14px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-book', );
$icon-s-btc-name: 'icon-s-btc';
$icon-s-btc-x: 32px;
$icon-s-btc-y: 113px;
$icon-s-btc-offset-x: -32px;
$icon-s-btc-offset-y: -113px;
$icon-s-btc-width: 16px;
$icon-s-btc-height: 16px;
$icon-s-btc-total-width: 155px;
$icon-s-btc-total-height: 129px;
$icon-s-btc-image: '/resources/images/sprite.png';
$icon-s-btc: (32px, 113px, -32px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-btc', );
$icon-s-card-coin-name: 'icon-s-card-coin';
$icon-s-card-coin-x: 97px;
$icon-s-card-coin-y: 76px;
$icon-s-card-coin-offset-x: -97px;
$icon-s-card-coin-offset-y: -76px;
$icon-s-card-coin-width: 17px;
$icon-s-card-coin-height: 16px;
$icon-s-card-coin-total-width: 155px;
$icon-s-card-coin-total-height: 129px;
$icon-s-card-coin-image: '/resources/images/sprite.png';
$icon-s-card-coin: (97px, 76px, -97px, -76px, 17px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-card-coin', );
$icon-s-chalink-name: 'icon-s-chalink';
$icon-s-chalink-x: 48px;
$icon-s-chalink-y: 113px;
$icon-s-chalink-offset-x: -48px;
$icon-s-chalink-offset-y: -113px;
$icon-s-chalink-width: 16px;
$icon-s-chalink-height: 16px;
$icon-s-chalink-total-width: 155px;
$icon-s-chalink-total-height: 129px;
$icon-s-chalink-image: '/resources/images/sprite.png';
$icon-s-chalink: (48px, 113px, -48px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-chalink', );
$icon-s-clipboard-name: 'icon-s-clipboard';
$icon-s-clipboard-x: 48px;
$icon-s-clipboard-y: 48px;
$icon-s-clipboard-offset-x: -48px;
$icon-s-clipboard-offset-y: -48px;
$icon-s-clipboard-width: 24px;
$icon-s-clipboard-height: 24px;
$icon-s-clipboard-total-width: 155px;
$icon-s-clipboard-total-height: 129px;
$icon-s-clipboard-image: '/resources/images/sprite.png';
$icon-s-clipboard: (48px, 48px, -48px, -48px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-clipboard', );
$icon-s-document-text-name: 'icon-s-document-text';
$icon-s-document-text-x: 64px;
$icon-s-document-text-y: 113px;
$icon-s-document-text-offset-x: -64px;
$icon-s-document-text-offset-y: -113px;
$icon-s-document-text-width: 16px;
$icon-s-document-text-height: 16px;
$icon-s-document-text-total-width: 155px;
$icon-s-document-text-total-height: 129px;
$icon-s-document-text-image: '/resources/images/sprite.png';
$icon-s-document-text: (64px, 113px, -64px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-document-text', );
$icon-s-facebook-name: 'icon-s-facebook';
$icon-s-facebook-x: 139px;
$icon-s-facebook-y: 50px;
$icon-s-facebook-offset-x: -139px;
$icon-s-facebook-offset-y: -50px;
$icon-s-facebook-width: 11px;
$icon-s-facebook-height: 18px;
$icon-s-facebook-total-width: 155px;
$icon-s-facebook-total-height: 129px;
$icon-s-facebook-image: '/resources/images/sprite.png';
$icon-s-facebook: (139px, 50px, -139px, -50px, 11px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-facebook', );
$icon-s-linkedin-name: 'icon-s-linkedin';
$icon-s-linkedin-x: 117px;
$icon-s-linkedin-y: 90px;
$icon-s-linkedin-offset-x: -117px;
$icon-s-linkedin-offset-y: -90px;
$icon-s-linkedin-width: 19px;
$icon-s-linkedin-height: 18px;
$icon-s-linkedin-total-width: 155px;
$icon-s-linkedin-total-height: 129px;
$icon-s-linkedin-image: '/resources/images/sprite.png';
$icon-s-linkedin: (117px, 90px, -117px, -90px, 19px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-linkedin', );
$icon-s-mail-name: 'icon-s-mail';
$icon-s-mail-x: 117px;
$icon-s-mail-y: 18px;
$icon-s-mail-offset-x: -117px;
$icon-s-mail-offset-y: -18px;
$icon-s-mail-width: 22px;
$icon-s-mail-height: 18px;
$icon-s-mail-total-width: 155px;
$icon-s-mail-total-height: 129px;
$icon-s-mail-image: '/resources/images/sprite.png';
$icon-s-mail: (117px, 18px, -117px, -18px, 22px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-mail', );
$icon-s-message-name: 'icon-s-message';
$icon-s-message-x: 80px;
$icon-s-message-y: 113px;
$icon-s-message-offset-x: -80px;
$icon-s-message-offset-y: -113px;
$icon-s-message-width: 16px;
$icon-s-message-height: 16px;
$icon-s-message-total-width: 155px;
$icon-s-message-total-height: 129px;
$icon-s-message-image: '/resources/images/sprite.png';
$icon-s-message: (80px, 113px, -80px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-message', );
$icon-s-more-name: 'icon-s-more';
$icon-s-more-x: 73px;
$icon-s-more-y: 0px;
$icon-s-more-offset-x: -73px;
$icon-s-more-offset-y: 0px;
$icon-s-more-width: 24px;
$icon-s-more-height: 24px;
$icon-s-more-total-width: 155px;
$icon-s-more-total-height: 129px;
$icon-s-more-image: '/resources/images/sprite.png';
$icon-s-more: (73px, 0px, -73px, 0px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-more', );
$icon-s-notification-name: 'icon-s-notification';
$icon-s-notification-x: 97px;
$icon-s-notification-y: 0px;
$icon-s-notification-offset-x: -97px;
$icon-s-notification-offset-y: 0px;
$icon-s-notification-width: 20px;
$icon-s-notification-height: 22px;
$icon-s-notification-total-width: 155px;
$icon-s-notification-total-height: 129px;
$icon-s-notification-image: '/resources/images/sprite.png';
$icon-s-notification: (97px, 0px, -97px, 0px, 20px, 22px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-notification', );
$icon-s-settings-name: 'icon-s-settings';
$icon-s-settings-x: 73px;
$icon-s-settings-y: 24px;
$icon-s-settings-offset-x: -73px;
$icon-s-settings-offset-y: -24px;
$icon-s-settings-width: 24px;
$icon-s-settings-height: 24px;
$icon-s-settings-total-width: 155px;
$icon-s-settings-total-height: 129px;
$icon-s-settings-image: '/resources/images/sprite.png';
$icon-s-settings: (73px, 24px, -73px, -24px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-settings', );
$icon-s-trade-name: 'icon-s-trade';
$icon-s-trade-x: 96px;
$icon-s-trade-y: 113px;
$icon-s-trade-offset-x: -96px;
$icon-s-trade-offset-y: -113px;
$icon-s-trade-width: 16px;
$icon-s-trade-height: 16px;
$icon-s-trade-total-width: 155px;
$icon-s-trade-total-height: 129px;
$icon-s-trade-image: '/resources/images/sprite.png';
$icon-s-trade: (96px, 113px, -96px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-trade', );
$icon-s-trend-up-name: 'icon-s-trend-up';
$icon-s-trend-up-x: 112px;
$icon-s-trend-up-y: 113px;
$icon-s-trend-up-offset-x: -112px;
$icon-s-trend-up-offset-y: -113px;
$icon-s-trend-up-width: 16px;
$icon-s-trend-up-height: 16px;
$icon-s-trend-up-total-width: 155px;
$icon-s-trend-up-total-height: 129px;
$icon-s-trend-up-image: '/resources/images/sprite.png';
$icon-s-trend-up: (112px, 113px, -112px, -113px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-trend-up', );
$icon-s-twitter-name: 'icon-s-twitter';
$icon-s-twitter-x: 117px;
$icon-s-twitter-y: 36px;
$icon-s-twitter-offset-x: -117px;
$icon-s-twitter-offset-y: -36px;
$icon-s-twitter-width: 22px;
$icon-s-twitter-height: 18px;
$icon-s-twitter-total-width: 155px;
$icon-s-twitter-total-height: 129px;
$icon-s-twitter-image: '/resources/images/sprite.png';
$icon-s-twitter: (117px, 36px, -117px, -36px, 22px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-twitter', );
$icon-s-user-name: 'icon-s-user';
$icon-s-user-x: 48px;
$icon-s-user-y: 72px;
$icon-s-user-offset-x: -48px;
$icon-s-user-offset-y: -72px;
$icon-s-user-width: 22px;
$icon-s-user-height: 22px;
$icon-s-user-total-width: 155px;
$icon-s-user-total-height: 129px;
$icon-s-user-image: '/resources/images/sprite.png';
$icon-s-user: (48px, 72px, -48px, -72px, 22px, 22px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-user', );
$icon-s-warning-name: 'icon-s-warning';
$icon-s-warning-x: 139px;
$icon-s-warning-y: 0px;
$icon-s-warning-offset-x: -139px;
$icon-s-warning-offset-y: 0px;
$icon-s-warning-width: 16px;
$icon-s-warning-height: 16px;
$icon-s-warning-total-width: 155px;
$icon-s-warning-total-height: 129px;
$icon-s-warning-image: '/resources/images/sprite.png';
$icon-s-warning: (139px, 0px, -139px, 0px, 16px, 16px, 155px, 129px, '/resources/images/sprite.png', 'icon-s-warning', );
$icon-search-name: 'icon-search';
$icon-search-x: 139px;
$icon-search-y: 68px;
$icon-search-offset-x: -139px;
$icon-search-offset-y: -68px;
$icon-search-width: 14px;
$icon-search-height: 14px;
$icon-search-total-width: 155px;
$icon-search-total-height: 129px;
$icon-search-image: '/resources/images/sprite.png';
$icon-search: (139px, 68px, -139px, -68px, 14px, 14px, 155px, 129px, '/resources/images/sprite.png', 'icon-search', );
$icon-star-name: 'icon-star';
$icon-star-x: 97px;
$icon-star-y: 42px;
$icon-star-offset-x: -97px;
$icon-star-offset-y: -42px;
$icon-star-width: 18px;
$icon-star-height: 18px;
$icon-star-total-width: 155px;
$icon-star-total-height: 129px;
$icon-star-image: '/resources/images/sprite.png';
$icon-star: (97px, 42px, -97px, -42px, 18px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-star', );
$icon-teacher-name: 'icon-teacher';
$icon-teacher-x: 73px;
$icon-teacher-y: 48px;
$icon-teacher-offset-x: -73px;
$icon-teacher-offset-y: -48px;
$icon-teacher-width: 24px;
$icon-teacher-height: 24px;
$icon-teacher-total-width: 155px;
$icon-teacher-total-height: 129px;
$icon-teacher-image: '/resources/images/sprite.png';
$icon-teacher: (73px, 48px, -73px, -48px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-teacher', );
$icon-text-size-down-name: 'icon-text-size-down';
$icon-text-size-down-x: 97px;
$icon-text-size-down-y: 22px;
$icon-text-size-down-offset-x: -97px;
$icon-text-size-down-offset-y: -22px;
$icon-text-size-down-width: 20px;
$icon-text-size-down-height: 20px;
$icon-text-size-down-total-width: 155px;
$icon-text-size-down-total-height: 129px;
$icon-text-size-down-image: '/resources/images/sprite.png';
$icon-text-size-down: (97px, 22px, -97px, -22px, 20px, 20px, 155px, 129px, '/resources/images/sprite.png', 'icon-text-size-down', );
$icon-text-size-up-name: 'icon-text-size-up';
$icon-text-size-up-x: 0px;
$icon-text-size-up-y: 0px;
$icon-text-size-up-offset-x: 0px;
$icon-text-size-up-offset-y: 0px;
$icon-text-size-up-width: 25px;
$icon-text-size-up-height: 24px;
$icon-text-size-up-total-width: 155px;
$icon-text-size-up-total-height: 129px;
$icon-text-size-up-image: '/resources/images/sprite.png';
$icon-text-size-up: (0px, 0px, 0px, 0px, 25px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-text-size-up', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 117px;
$icon-twitter-y: 54px;
$icon-twitter-offset-x: -117px;
$icon-twitter-offset-y: -54px;
$icon-twitter-width: 22px;
$icon-twitter-height: 18px;
$icon-twitter-total-width: 155px;
$icon-twitter-total-height: 129px;
$icon-twitter-image: '/resources/images/sprite.png';
$icon-twitter: (117px, 54px, -117px, -54px, 22px, 18px, 155px, 129px, '/resources/images/sprite.png', 'icon-twitter', );
$icon-wallet-name: 'icon-wallet';
$icon-wallet-x: 0px;
$icon-wallet-y: 72px;
$icon-wallet-offset-x: 0px;
$icon-wallet-offset-y: -72px;
$icon-wallet-width: 24px;
$icon-wallet-height: 24px;
$icon-wallet-total-width: 155px;
$icon-wallet-total-height: 129px;
$icon-wallet-image: '/resources/images/sprite.png';
$icon-wallet: (0px, 72px, 0px, -72px, 24px, 24px, 155px, 129px, '/resources/images/sprite.png', 'icon-wallet', );
$spritesheet-width: 155px;
$spritesheet-height: 129px;
$spritesheet-image: '/resources/images/sprite.png';
$spritesheet-sprites: ($icon-app, $icon-arrow-left, $icon-arrow-square-down, $icon-arrow-square-left, $icon-arrow-square-right, $icon-bitcoin, $icon-book, $icon-bookmark, $icon-briefcase, $icon-emoji-bear, $icon-emoji-bull, $icon-emoji-down, $icon-emoji-rocket, $icon-emoji-up, $icon-facebook, $icon-font-bold, $icon-font-italic, $icon-gallery-edit, $icon-gallery, $icon-home, $icon-linkedin, $icon-mail, $icon-refresh, $icon-s-book, $icon-s-btc, $icon-s-card-coin, $icon-s-chalink, $icon-s-clipboard, $icon-s-document-text, $icon-s-facebook, $icon-s-linkedin, $icon-s-mail, $icon-s-message, $icon-s-more, $icon-s-notification, $icon-s-settings, $icon-s-trade, $icon-s-trend-up, $icon-s-twitter, $icon-s-user, $icon-s-warning, $icon-search, $icon-star, $icon-teacher, $icon-text-size-down, $icon-text-size-up, $icon-twitter, $icon-wallet, );
$spritesheet: (155px, 129px, '/resources/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
