extends components/layout.pug 
block content
    include components/breadcrump.pug
    .row.page
        .col-12 
            h1.detail-title Policy
            p 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet rem earum fugiat expedita dolores nesciunt quia corporis tempore, eius ipsum voluptates consequatur facere laboriosam accusamus consequuntur autem saepe laudantium molestias!
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
            p 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet rem earum fugiat expedita dolores nesciunt quia corporis tempore, eius ipsum voluptates consequatur facere laboriosam accusamus consequuntur autem saepe laudantium molestias!
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
            p 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet rem earum fugiat expedita dolores nesciunt quia corporis tempore, eius ipsum voluptates consequatur facere laboriosam accusamus consequuntur autem saepe laudantium molestias!
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
            p 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet rem earum fugiat expedita dolores nesciunt quia corporis tempore, eius ipsum voluptates consequatur facere laboriosam accusamus consequuntur autem saepe laudantium molestias!
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vitae, ut nam, mollitia nisi dolor consequuntur unde illo eaque dolorem expedita porro iste, suscipit dignissimos fugit praesentium nobis minus cumque.
    .row
        .col-12 
            h2.ghost-title Kripto Para Haberleri Sıkça Sorulan Sorular
        .col-12
            h3 Kripto Para Nedir?
            .ghost-content
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
            +button("Daha Fazla Göster","fa-solid fa-rotate-left")