doctype html  
html(lang='en')  
    head
        title= Title
        link(rel='stylesheet' href='/styles/style.css')
        block headscript
    body.register-login-page
        .register-login-page-content
            h1 Hesap Ayarları 

            form(action="#") 
                .form-item
                    figure
                        img(src="/resources/images/big-user.jpg", alt="")
                .form-item
                    label Kullanıcı Adı
                    input(type="text" placeholder="Bro D.")
                .form-item
                    button(type="submit") Yeni Hesap Oluştur
            p Bir hesap oluşturarak, Gizlilik Politikamızı ve Hizmet Şartlarımızı kabul etmiş olursunuz. 
            
            a(href="#" class="sublink") Hesabın mı var? Giriş Yap