extends components/layout.pug 
block content
    include components/breadcrump.pug
    .row 
        .col-12 
            h1.detail-title Reklam
            p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet rem earum fugiat expedita dolores nesciunt quia corporis tempore, eius ipsum voluptates consequatur facere laboriosam accusamus consequuntur autem saepe laudantium molestias!
    .row
        .col-12
            .white-box.flag-box.m-b-50
                .row
                    .col-7 
                        .flex.flex-column.flex-justify-center.h-100p
                            h2 Kripto Para Borsalarında Doğru Hedef Kitle
                            p.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, ea iusto voluptatibus culpa dolor assumenda consequatur fugit non soluta voluptatem perferendis excepturi dignissimos sed velit veritatis illo enim. Maxime, quasi?
                    .col-5
                        .twin-circle
                            span.circle
                                strong 100%
                                span Organik
                            span.circle
                                strong 100%
                                span Organik

    .row
        .col-12
            .content-card.flag-box.m-b-50.white-box
                .content-card-header
                    h2.title Çözümlerimiz
                .content-card-body
                    .row.solution-list
                        .col-3.solution-item
                            figure
                                span.icon-s-task-square
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-document-text-fill
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-colorfilter
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-designtools
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-video
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-sound
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-global-search
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
                        .col-3.solution-item
                            figure
                                span.icon-s-chart
                            strong Sponsor Quizleri 
                            span SEO Odaklı Özel Soru Cevap Teknikleriyle Marka Bilinirliğini Arttırın.
    .row
        .col-12
            .content-card.flag-box.m-b-50.white-box
                .content-card-body
                    .row
                        .col-6
                            .light-blue-box
                                strong 4.500.000
                                span 3 Aylık Sayfa Görüntüleme
                        .col-6
                            .light-blue-box
                                strong 4.500.000
                                span 3 Aylık Sayfa Görüntüleme
                        .col-6
                            .light-blue-box
                                strong 4.500.000
                                span 3 Aylık Sayfa Görüntüleme
                        .col-6
                            .light-blue-box
                                strong 4.500.000
                                span 3 Aylık Sayfa Görüntüleme


    .row
        .col-12 
            h2.page-title Kripto Para Haberleri Sıkça Sorulan Sorular
        .col-12
            h3 Kripto Para Nedir?
            .ghost-content
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
            +button("Daha Fazla Göster","refresh")