extends components/layout.pug
block content
    .row.page
        .col-12
        h1.detail-title Kaydettiklerim
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis porro officia, obcaecati fuga consequatur quas? Voluptas sapiente vel assumenda nostrum, impedit eos incidunt necessitatibus blanditiis, nemo maiores doloribus perferendis id.
    .row
        .col-12
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug
            include components/cardWideBookmarked.pug