extends components/layout.pug 
block content
    .row 
        .col-12
            include components/pageCuft.pug
    // Koinpedia
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Koinpedia
                .content-card-body.flex-justify 
                    +tagButton("Koin 101","icon-briefcase","blue")
                    +tagButton("Kripto Nasıl Alınır?","icon-teacher","green")
                    +tagButton("Kripto Nasıl Satılır?","icon-book","yellow")
                    +tagButton("Koin Borsaları","icon-bitcoin","orange")
                    +tagButton("NFT Borsaları","icon-gallery","pink")
                    +tagButton("NFT Nasıl Yapılır?","icon-gallery-edit","purple")
                    +tagButton("ColdWallet Nedir?","icon-wallet","blue")
    // Güncel Eğitimler
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Güncel Eğitimler
                .content-card-body
                    .row
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
    // Diğer 
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Diğer
                .content-card-body
                    .blue-area
                        .filter-area
                            .filter-area-filters
                                button(data-val="all").btn.borderred.primary.filter-btn.active Tümü
                                button(data-val="coin").btn.borderred.primary.filter-btn Coin
                                button(data-val="nft").btn.borderred.primary.filter-btn NFT
                                button(data-val="token").btn.borderred.primary.filter-btn Token
                                button(data-val="projects").btn.borderred.primary.filter-btn Projeler
                            .filter-area-body
                                .row
                                    .col-12.col-lg-4.filter-item.coin
                                        +filterCard('coin')
                                    .col-12.col-lg-4.filter-item.nft
                                        +filterCard('nft')
                                    .col-12.col-lg-4.filter-item.token
                                        +filterCard('token')
                                    .col-12.col-lg-4.filter-item.coin
                                        +filterCard('coin')
                                    .col-12.col-lg-4.filter-item.projects
                                        +filterCard('projects')
                                    .col-12.col-lg-4.filter-item.token
                                        +filterCard('token')
                                    .col-12.col-lg-4.filter-item.coin
                                        +filterCard('coin')
                                    .col-12.col-lg-4.filter-item.coin
                                        +filterCard('coin')
                                    .col-12.col-lg-4.filter-item.nft
                                        +filterCard('nft')
    // Güncel Eğitimler
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Güncel Eğitimler
                .content-card-body
                    .row
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
    // Güncel Eğitimler
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Güncel Eğitimler
                .content-card-body
                    .row
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
    .row
        .col-12 
            h2.ghost-title Kripto Para Haberleri Sıkça Sorulan Sorular
        .col-12
            h3 Kripto Para Nedir?
            .ghost-content
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
            +button("Daha Fazla Göster","fa-solid fa-rotate-left")