extends components/layout.pug 
block content
    include components/breadcrump.pug
    .row 
        .col-12 
            h1.detail-title Rehber Detay
            p.cuft Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet vestibulum arcu, nec euismod libero efficitur vel. Praesent ultricies risus at neque dignissim blandit.
            .search-area 
                .row
                    .col-12.col-lg-6 
                        span.search-area-title Konular
                        .buttons
                            +button('Coin',null,'primary-outline active')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                            +button('Coin',null,'primary-outline')
                    .col-12.col-lg-6
                        span.search-area-title Zorluk
                        .buttons
                            +button('Yeni Başlayanlar',null,'approve medium')
                            +button('Orta Seviye',null,'decline medium')
                            +button('Orta Seviye',null,'lightblue medium')
                        span.search-area-title Okuma Süresi
                        .guide-read-range
                            include components/inputRange.pug
    .row
        .col-12
            .search-area 
                .row.justify-content-end
                    .col-6.col-lg-2
                        +select("Filtrele")
                    .col-6.col-lg-2
                        +select("Sırala")

    // Güncel Eğitimler
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Güncel Eğitimler
                .content-card-body
                    .row
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
    // Güncel Eğitimler
    .row
        .col-12
            .content-card 
                .content-card-header
                    h2 Güncel Eğitimler
                .content-card-body
                    .row
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
                        .col-12.col-lg-4
                            include components/spaceCardBigWhite.pug
    .row
        .col-12 
            h2.ghost-title Kripto Para Haberleri Sıkça Sorulan Sorular
        .col-12
            h3 Kripto Para Nedir?
            .ghost-content
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
            +button("Daha Fazla Göster","fa-solid fa-rotate-left")
block append Side
    include components/sideShare.pug
    include components/sideSettings.pug
    include components/sideIndex.pug

block prepend Script 
    script(src="/resources/vendor/rSlider.min.js")