//- extends components/layout.pug 
extends components/layoutTwoCol.pug 
block content
  .row 
    .col-sm-12.col-lg-6
      include components/bigCard.pug
    .col-sm-12.col-lg-6
      h2 Bügün Neler Oldu?
      include components/card.pug
      include components/card.pug
      include components/card.pug
  .card-row
    .row 
      .col-12
        h2 Sponsorlu İçerikler
      .col-6.col-lg-3
        include components/spaceCardEditor.pug
      .col-6.col-lg-3
        include components/spaceCardEditor.pug
      .col-6.col-lg-3
        include components/spaceCardEditor.pug
      .col-6.col-lg-3
        include components/spaceCardEditor.pug
  .row
    // Content
    .col-12.col-lg-9
      h2 Haber Akışı
      include components/cardWide.pug
      include components/cardWide.pug
      include components/cardWideEditor.pug
      include components/cardWide.pug
      include components/cardWide.pug
      .col-12 
        - var btnClass ="more"
        - var btnText = "Daha Fazla Göster"
        - var btnIcon = "fa-solid fa-rotate-left"
        include components/button.pug
    // Ads Side
    .col-12.col-lg-3
      img(src="/resources/images/adsBox.png" class="img-responsive" alt="")
      img(src="/resources/images/adsLong.png" alt="" class="img-responsive")
  .row 
    .col-12 
      include components/koinboxVideo.pug
      // Koinpedia
      .row
        .col-12
          .content-card 
            .content-card-header
              h2 Koinpedia
            .content-card-body.flex-justify 
              +tagButton("Koin 101","icon icon-briefcase","blue")
              +tagButton("Kripto Nasıl Alınır?","icon icon-teacher","green")
              +tagButton("Kripto Nasıl Satılır?","icon icon-book","yellow")
              +tagButton("Koin Borsaları","icon icon-bitcoin","orange")
              +tagButton("NFT Borsaları","icon icon-gallery","pink")
              +tagButton("NFT Nasıl Yapılır?","icon icon-gallery-edit","purple")
              +tagButton("ColdWallet Nedir?","icon icon-wallet","blue")
  // SpaceCardBigs
  .row
    .col-12.col-lg-3
      include components/spaceCardBig.pug
    .col-12.col-lg-3
      include components/spaceCardBig.pug
    .col-12.col-lg-3
      include components/spaceCardBig.pug
    .col-12.col-lg-3
      include components/spaceCardBig.pug
    .col-12.col-lg-3
      include components/spaceCardBig.pug
    .col-12.col-lg-3
      include components/spaceCardBig.pug
  .row
    .content-card 
      .content-card-header
        h2 Etkinlinler
        .content-card-header-actions
          +button("Tüm Etkinlikler",null,"ghost")
      .content-card-body
        .row
          .col-12
            .search-area
              .row
                .col-12.col-lg-2
                  +select("Kategori")
                .col-12.col-lg-2
                  +select("Pozisyon")
                .col-12.col-lg-4.content-center
                  input(type="text" placeholder="Ara")
                .col-12.col-lg-2
                  +select("Sırala")
                .col-12.col-lg-2.content-right
                  +button(null,'arrow-square-right','form')
                  +button(null,'arrow-square-left','form')
        .row
          .col-12.col-lg-4
            include components/coinVote.pug
          .col-12.col-lg-4
            include components/coinVote.pug
          .col-12.col-lg-4
            include components/coinVote.pug
        .row
          .filter-area
            .filter-area-filters
              button(data-val="all").btn.borderred.primary.filter-btn.active Tümü
              button(data-val="coin").btn.borderred.primary.filter-btn Coin
              button(data-val="nft").btn.borderred.primary.filter-btn NFT
              button(data-val="token").btn.borderred.primary.filter-btn Token
              button(data-val="projects").btn.borderred.primary.filter-btn Projeler
            .filter-area-body
              .row
                .col-12.col-lg-4.filter-item.coin
                  +filterCard('coin')
                .col-12.col-lg-4.filter-item.nft
                  +filterCard('nft')
                .col-12.col-lg-4.filter-item.token
                  +filterCard('token')
                .col-12.col-lg-4.filter-item.coin
                  +filterCard('coin')
                .col-12.col-lg-4.filter-item.projects
                  +filterCard('projects')
                .col-12.col-lg-4.filter-item.token
                  +filterCard('token')
                .col-12.col-lg-4.filter-item.coin
                  +filterCard('coin')
                .col-12.col-lg-4.filter-item.coin
                  +filterCard('coin')
                .col-12.col-lg-4.filter-item.nft
                  +filterCard('nft')
  // Haber Akışı
  .row
    .col-12
      .content-card 
        .content-card-header
          h2 Haber Akışı
        .content-card-body
          include components/cardWideLarge.pug
          include components/cardWideLarge.pug
          include components/cardWideLarge.pug
          include components/cardWideLarge.pug
          include components/cardWideLarge.pug
          include components/cardWideLarge.pug
          +button("Daha Fazla Göster","fa-solid fa-rotate-left")
  .row
    .col-12 
      h2.ghost-title Kripto Para Haberleri Sıkça Sorulan Sorular
    .col-12
      h3 Kripto Para Nedir?
      .ghost-content
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
      +button("Daha Fazla Göster","fa-solid fa-rotate-left")
block append Side
  include components/sideEmoji.pug
  include components/sideRead.pug