doctype html  
html(lang='en')  
 head
   title= Title
   link(rel='stylesheet', href='/styles/style.css')
 body
   h1 Hi World
   div.container
     p Cool Pug :)
     
   script(src='/scripts/app.js')