extends components/layout.pug 
block content
    .row
        .col-12
            include components/breadcrump.pug
    // News Detail:Start
    .row.news-detail
        .col-9
            h1.detail-title Shiba Inu Rallisini Elon Musk Başlatmadı, Kim Başlattı?
            p.cuft  Dogecoin çılgınlığı 2021’in başlarından beri devam ediyor. Bazı kripto para tüccarları ve yatırımcıları bu şaka coin yatırımlarını kaçırmak istemiyorlar. Şaka odaklı lider kripto para olan DOGE’dan tat alan yatırımcılar bu seferde Shiba Inu’ya saldırdı. Böylece yatırımcılar Shiba Inu gibi riskli dijital varlıklara yatırım yapmak konusunda tereddütlü olmadıklarını kanıtladı. 
            include components/authorInfo.pug
            figure.img-content
                img(src="https://loremflickr.com/1080/768" alt="")
            p Elektrikli otomobil dendiğinde akla gelen ilk firmaların başında yer alan Tesla, genel merkezinin lokasyonunu değiştirme kararı aldı. Tesla'nın yıllık hissedarlar toplantısında konuşmalar yapan Tesla CEO'su Elon Musk, şirketin merkezini Teksas eyaletinin en büyük şehirleri arasında yer alan Austin'e taşınacağını duyurdu. 
            blockquote(cite="http://www.worldwildlife.org/who/index.html")
                | Hatırlatmak gerekirse Tesla'nın genel merkezi şu ana kadar Palo Alto'da bulunuyordu. 	Tesla'nın yıllık hissedarlar toplantılarını da Palo Alto'da bulunan merkezde 	gerçekleştirdiğini de hatırlatalım. Fakat dün gerçekleşen yıllık hissedarlar toplantısı 	Tesla'nın Austin'de bulunan Gigafactory tesisinde gerçekleşti.
            p Şirketin genel merkezini Austin'e taşısalar da Kaliforniya'da büyümeye devam edeceklerini de paylaşan Musk, Tesla'nın Kaliforniya'da bulunan elektrikli otomobil fabrikasını kullanmaya devam edeceğini de sözlerine ekledi. Söz konusu fabrikanın verimliliğini artırmak istediklerini de belirten Musk, üretimi yüzde 50 oranında artıracaklarını da aktardı.
            p Hatırlatmak gerekirse Kaliforniya eyaletinde bulunan Fremont şehrinde yer alan fabrika 1 yıl içinde 500 bin adet Model 3 ve Model Y, 100 bin adet ise Model S ve Model X üretimi yapabiliyor.
            p Konu ile ilgili açıklamalarda bulunan Elon Musk, söz konusu kararın Tesla'nın Kaliforniya'yı terk etmesi anlamına gelmediğini belirtti. Son alarak Tesla'nın genel merkezinin Austin'e taşınmasının beklenen bir gelişme olduğunu da ekleyelim. Hatırlatmak gerekirse Elon Musk, geçtiğimiz yıl Teksas'a taşınmıştı.
            include components/cardWideEditor.pug 
            p Elektrikli otomobil dendiğinde akla gelen ilk firmaların başında yer alan Tesla, genel merkezinin lokasyonunu değiştirme kararı aldı. Tesla'nın yıllık hissedarlar toplantısında konuşmalar yapan Tesla CEO'su Elon Musk, şirketin merkezini Teksas eyaletinin en büyük şehirleri arasında yer alan Austin'e taşınacağını duyurdu. 

            p Hatırlatmak gerekirse Tesla'nın genel merkezi şu ana kadar Palo Alto'da bulunuyordu. Tesla'nın yıllık hissedarlar toplantılarını da Palo Alto'da bulunan merkezde gerçekleştirdiğini de hatırlatalım. Fakat dün gerçekleşen yıllık hissedarlar toplantısı Tesla'nın Austin'de bulunan Gigafactory tesisinde gerçekleşti.

            p Şirketin genel merkezini Austin'e taşısalar da Kaliforniya'da büyümeye devam edeceklerini de paylaşan Musk, Tesla'nın Kaliforniya'da bulunan elektrikli otomobil fabrikasını kullanmaya devam edeceğini de sözlerine ekledi. Söz konusu fabrikanın verimliliğini artırmak istediklerini de belirten Musk, üretimi yüzde 50 oranında artıracaklarını da aktardı.

            p Hatırlatmak gerekirse Kaliforniya eyaletinde bulunan Fremont şehrinde yer alan fabrika 1 yıl içinde 500 bin adet Model 3 ve Model Y, 100 bin adet ise Model S ve Model X üretimi yapabiliyor.

            p Konu ile ilgili açıklamalarda bulunan Elon Musk, söz konusu kararın Tesla'nın Kaliforniya'yı terk etmesi anlamına gelmediğini belirtti. Son alarak Tesla'nın genel merkezinin Austin'e taşınmasının beklenen bir gelişme olduğunu da ekleyelim. Hatırlatmak gerekirse Elon Musk, geçtiğimiz yıl Teksas'a taşınmıştı.
            
            // News Tags
            .tags 
                include components/tag.pug
                include components/tag.pug
                include components/tag.pug
            include components/commentBox.pug
            // Filter Area
            .row
              .filter-area
                .filter-area-filters
                  button(data-val="all").btn.borderred.primary.filter-btn.active Tümü
                  button(data-val="coin").btn.borderred.primary.filter-btn Coin
                  button(data-val="nft").btn.borderred.primary.filter-btn NFT
                  button(data-val="token").btn.borderred.primary.filter-btn Token
                  button(data-val="projects").btn.borderred.primary.filter-btn Projeler
                .filter-area-body
                  .row
                    .col-4.filter-item.coin
                      +filterCard('coin')
                    .col-4.filter-item.nft
                      +filterCard('nft')
                    .col-4.filter-item.token
                      +filterCard('token')
                    .col-4.filter-item.coin
                      +filterCard('coin')
                    .col-4.filter-item.projects
                      +filterCard('projects')
                    .col-4.filter-item.token
                      +filterCard('token')
                    .col-4.filter-item.coin
                      +filterCard('coin')
                    .col-4.filter-item.coin
                      +filterCard('coin')
                    .col-4.filter-item.nft
                      +filterCard('nft')
            .row
                .col-12 
                    h2.page-title Kripto Para Haberleri Sıkça Sorulan Sorular
                .col-12
                    h3 Kripto Para Nedir?
                    .ghost-content
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, minus asperiores distinctio vel perferendis placeat non officia, possimus cum odio quam quisquam maiores quidem! Ab quaerat ex explicabo omnis facilis.
                    +button("Daha Fazla Göster","refresh")
      
        .col-3
            .section-block
                h3.aside-title Popüler İçerikler 
                include components/listPost.pug
                include components/listPost.pug
                include components/listPost.pug
                include components/listPost.pug
                include components/listPost.pug
                include components/listPost.pug
            // Ads
            .section-block
                img(src="/resources/images/adsBox.png" class="img-responsive" alt="")
                img(src="/resources/images/adsLong.png" alt="" class="img-responsive")
            .section-block
                h3.aside-title Popüler İçerikler 
                include components/listPostImage.pug
                include components/listPostImage.pug
                include components/listPostImage.pug
                include components/listPostImage.pug
                include components/listPostImage.pug
                include components/listPostImage.pug