strong Page List
ul
    li
        a(target="_blank" href="index.html") Index
    li
        a(target="_blank" href="about.html") About
    li
        a(target="_blank" href="calculate-price.html") Calculate Price
    li
        a(target="_blank" href="category.html") Category
    li
        a(target="_blank" href="convert-price.html") Convert Price
    li
        a(target="_blank" href="guide-detail.html") Guide Detail
    li
        a(target="_blank" href="guide.html") Guide
    li
        a(target="_blank" href="kunye.html") Kunye
    li
        a(target="_blank" href="news-detail.html") News Detail
    li
        a(target="_blank" href="people-detail.html") People Detail
    li
        a(target="_blank" href="people-list.html") People List
    li 
        a(href="writer.html" target="_blank")  Writer
    li 
        a(href="bookmarks.html" target="_blank")  Bookmarks
    li 
        a(href="events.html" target="_blank") Events
    li 
        a(href="contact.html" target="_blank") Contact