doctype html  
html(lang='en')  
    head
        title= Title
        link(rel='stylesheet' href='/styles/style.css')
        block headscript
    body.register-login-page
        .register-login-page-content
            h1.center Doğrula

            p.message 
                | Lütfen 
                a(href="mailto:fatih@brodesign.dev") fatih@brodesign.dev
                |  mailinize gelen doğruluma linkine tıklayın ve hesabınızı aktif edin.