// AsideCard:Start
.aside-card
    h3.aside-card-title Bitcoin Haberleri
    .ghost-content.white
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore laborum aliquam, vitae laboriosam culpa veritatis illum eligendi, maiores iste minima quam dignissimos? Architecto debitis provident laboriosam tempore maiores, iure dicta!
    span.h-line
    span.aside-card-title-sub İlgili Başlıklar
    ul.list
        li 
            a(href="#") 
                <i class="fa-solid fa-book"></i>
                span Bitcoin Rehberi
        li 
            a(href="#") 
                <i class="fa-solid fa-book"></i>
                span Ne zaman Bitcoin Satmalıyım?
        li 
            a(href="#") 
                <i class="fa-solid fa-book"></i>
                span Uzun Vadeli Bitcoin Tahminleri
        li 
            a(href="#") 
                <i class="fa-solid fa-book"></i>
                span Bitcoin Analizleri
        li 
            a(href="#") 
                <i class="fa-solid fa-book"></i>
                span Bitcoin Kabul Eden Firmalar
// AsideCard:End