// AsideCard:Start
.aside-card
    h3.aside-card-title Bitcoin Haberleri
    .ghost-content.white
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore laborum aliquam, vitae laboriosam culpa veritatis illum eligendi, maiores iste minima quam dignissimos? Architecto debitis provident laboriosam tempore maiores, iure dicta!
    span.h-line
    span.aside-card-title-sub İlgili Başlıklar
    ul.list
        li 
            a(href="#") 
                span.icon-s-book
                span Bitcoin Rehberi
        li 
            a(href="#") 
                span.icon-s-book
                span Ne zaman Bitcoin Satmalıyım?
        li 
            a(href="#") 
                span.icon-s-book
                span Uzun Vadeli Bitcoin Tahminleri
        li 
            a(href="#") 
                span.icon-s-book
                span Bitcoin Analizleri
        li 
            a(href="#") 
                span.icon-s-book
                span Bitcoin Kabul Eden Firmalar
// AsideCard:End