// AuthorInfo:Start
.author-info
    .info
        .author
            figure
                img(src="https://loremflickr.com/44/44" alt="")
            .desc
                strong A.Fatih SEZER
                span 09 Ekim 2021
        .badges
            .badge
                <i class="fa-solid fa-file-lines"></i>
                span 2DK
            .badge
                <i class="fa-solid fa-message"></i>
                span 30
            .badge
                span 2DK
    .actions
        a(href="javascript:;")
            <i class="fa-solid fa-magnifying-glass-minus"></i>
        a(href="javascript:;")
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        a(href="javascript:;")
            <i class="fa-regular fa-bookmark"></i>
// AuthorInfo:End