// AuthorInfo:Start
.author-info
    .info
        .author
            figure
                img(src="https://loremflickr.com/44/44" alt="")
            .desc
                strong A.Fatih SEZER
                span 09 Ekim 2021
        .badges
            .badge
                span(class="icon-s-document-text")
                span 2DK
            .badge
                span(class="icon-s-message")
                span 30
            .badge
                span 2DK
    .actions
        a(href="javascript:;").icon-text-size-down
        a(href="javascript:;").icon-text-size-up
        a(href="javascript:;").icon-bookmark
// AuthorInfo:End