<!-- CardWide:Start -->
article.card.wide.large
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit suscipit mi eget consectetur.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article 
                p Aliquam posuere justo a justo commodo aliquam. Nulla lacinia vel urna vitae accumsan. Proin vitae mauris purus. Pellentesque pretium odio nec mi imperdiet dignissim. Nulla mi leo, feugiat vitae pellentesque eu, tempor et quam. Nulla facilisi. Mauris hendrerit gravida suscipit. Etiam faucibus condimentum nunc, ut egestas tellus pellentesque vel. Phasellus quis eleifend justo, ac placerat libero. Maecenas eu pharetra purus. Morbi tempus turpis venenatis augue consequat lobortis.Aliquam posuere justo a justo commodo
        figure
            img(src="https://loremflickr.com/150/150?grayscale" alt="")
            .tags 
                include tag.pug
                include tag.pug
<!-- CardWide:End -->