<!-- CardWide:Start -->
article.card.wide.large
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime itaque nostrum deleniti recusandae, minima id debitis eum voluptates ratione veritatis praesentium incidunt pariatur vero illum ipsam voluptatibus doloremque. Distinctio, temporibus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime itaque nostrum deleniti recusandae, minima id debitis eum voluptates ratione veritatis praesentium incidunt pariatur vero illum ipsam voluptatibus doloremque. Distinctio, temporibus.
        figure
            img(src="https://loremflickr.com/150/150?grayscale" alt="")
            .tags 
                include tag.pug
                include tag.pug
<!-- CardWide:End -->