<!-- CardWide:Start -->
article.card.wide.bookmarked
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. At assumenda repellat sit asperiores porro accusantium rem a eaque, doloribus ea? Vitae alias voluptatibus mollitia optio. Reprehenderit illo atque vero nulla?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. At assumenda repellat sit asperiores porro accusantium rem a eaque, doloribus ea? Vitae alias voluptatibus mollitia optio. Reprehenderit illo atque vero nulla?
                
        figure
            img(src="https://loremflickr.com/150/150?grayscale" alt="")
            .tags 
                include tag.pug
                include tag.pug
            button.bookmark-btn
                <i class="fa-regular fa-bookmark"></i>
            
<!-- CardWide:End -->