<!-- CardWide:Start -->
article.card.wide
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cupiditate sint iure eum eius fugiat porro, veniam voluptate tempora voluptatibus accusamus quo fuga animi est quasi omnis nulla id ea.
        figure
            img(src="https://loremflickr.com/150/150?grayscale" alt="")
            .tags 
                include tag.pug
                include tag.pug
<!-- CardWide:End -->