<!-- CardWide:Start -->
article.card.wide.editor
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, cumque quae, ipsam cupiditate iste voluptas dolorem libero hic quo ea blanditiis alias veniam mollitia natus sequi quis eligendi, repellat similique!
        figure
            img(src="https://loremflickr.com/150/150" alt="")
            span.star
                span.icon-star
            .tags 
                include tag.pug
                include tag.pug
        
<!-- CardWide:End -->