<!-- Card:Start -->
article.card
    a(href="#") 
        .card-content
            header 
                h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .card-info 
                span.cat Bitcoin 
                span.date 14 Saat Önce
                span.author Fatih Sezer 
            article Vestibulum ultricies mattis dapibus. Fusce elit felis, fermentum et lacus vitae, laoreet gravida mi.
        figure
            img(src="https://loremflickr.com/150/150" alt="")
<!-- Card:End -->