<!-- BigCard:Start -->
article.card.big.category
    header 
        h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit suscipit mi eget consectetur.
    .card-info 
        span.cat Bitcoin 
        span.date 14 Saat Önce
        span.author Fatih Sezer 
    figure
        img(src="https://loremflickr.com/600/400" alt="")
        .tags 
            include tag.pug
            include tag.pug
    article Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi atque dolor sunt nihil autem natus, officiis nemo sequi, aut molestiae distinctio, recusandae minus alias reprehenderit ea. Expedita, nihil hic?
    nav 
        a(href="#") Haberin Devamı
<!-- BigCard:End -->