include ../mixins.pug

.coin-list-grid
    .coin-list-grid-wrapper
        .coin-list-head
            span
            span Name
            span Price
            span 24h %
            span 7d %
            span Market Cap.
            span Volume (24h)
            span Last 7 Days
        .coin-list-body
            .coin-list-item
                span 1
                .name
                    figure 
                        img(src="/resources/images/btc-icon.png" alt="")
                    strong 
                        | Bitcoin
                        span BTC
                span.price $56,909.78
                span.percent.up 0.79%
                span.percent.down 0.79%
                span.mark-cap $1,071,279,277,003
                span.volume
                    span $39,658,298,040
                        span 697,511 BTC
                span.chart
                    img(src="/resources/images/mini-chart.png" alt="")

            .coin-list-item
                span 2
                .name
                    figure 
                        img(src="/resources/images/btc-icon.png" alt="")
                    strong 
                        | Bitcoin
                        span BTC
                span.price $56,909.78
                span.percent.up 0.79%
                span.percent.down 0.79%
                span.mark-cap $1,071,279,277,003
                span.volume
                    span $39,658,298,040
                        span 697,511 BTC
                span.chart
                    img(src="/resources/images/mini-chart.png" alt="")

            .coin-list-item
                span 3
                .name
                    figure 
                        img(src="/resources/images/btc-icon.png" alt="")
                    strong 
                        | Bitcoin
                        span BTC
                span.price $56,909.78
                span.percent.up 0.79%
                span.percent.down 0.79%
                span.mark-cap $1,071,279,277,003
                span.volume
                    span $39,658,298,040
                        span 697,511 BTC
                span.chart
                    img(src="/resources/images/mini-chart.png" alt="")

            .coin-list-item
                span 4
                .name
                    figure 
                        img(src="/resources/images/btc-icon.png" alt="")
                    strong 
                        | Bitcoin
                        span BTC
                span.price $56,909.78
                span.percent.up 0.79%
                span.percent.down 0.79%
                span.mark-cap $1,071,279,277,003
                span.volume
                    span $39,658,298,040
                        span 697,511 BTC
                span.chart
                    img(src="/resources/images/mini-chart.png" alt="")
+button("Daha Fazla Göster","fa-solid fa-rotate-left")