.coin-vote
    .coin-icon 
        img(src="/resources/images/icon.png" alt="")
    strong.coin-name FANADISE (FAN)
    span.coin-longName Firsst Celebrity NFT Drop
    .info
        span NFT
        span.date 22 Eylül 2022
    p.coin-desc European mega-star tokenises herself using 3D technology and sells her digital self in parts with Fanadise.
    .tags
        span.tag.passive Kanıtlar
        span.tag.passive Kaynaklar
    .status-label
        strong %25
        span 
            span Oy: 
            strong ₺4356
    div(class="progress" data-val="25")
    .actions
        button.btn.approve Gerçek
        button.btn.decline Sahte