<!-- ContentCard:Start -->
.content-card 
    .content-card-header
        h2.title Koinbox

        .content-card-header-actions
            block actions
    .content-card-body
        block body
<!-- ContentCard:End -->