include ../mixins.pug
footer.footer
    .footer-up
        .container
            .row 
                .col-3
                    strong Sayfalar
                    ul 
                        li
                            a(href="#")  Hakkımızda
                        li
                            a(href="#")  Künye 
                        li
                            a(href="#")  İletişim 
                        li
                            a(href="#")  Yayın İlkeleri 
                        li
                            a(href="#")  Gizlilik Politikası
                        li
                            a(href="#")  Kullanıcı Sözleşmesi 
                        li
                            a(href="#")  Reklam 
                        li
                            a(href="#")  Advertorial 
                        li
                            a(href="#")  Site Haritası
                        li
                            a(href="#")  RSS
                .col-2
                    strong Coin Fiyatı
                    ul 
                        li
                            a(href="#")  Bitcoin Fiyatı
                        li
                            a(href="#")  Ethereum Fiyatı
                        li
                            a(href="#")  XRP Fiyatı
                        li
                            a(href="#")  Tether Fiyatı 
                        li
                            a(href="#")  Litecoin Fiyatı
                        li
                            a(href="#")  Bitcoin Cash Fiyatı 
                        li
                            a(href="#")  ChainLink Fiyatı
                        li
                            a(href="#")  Cardano Fiyatı
                        li
                            a(href="#")  Polkadot Fiyatı
                        li
                            a(href="#")  Binance Coin Fiyatı
                .col-3
                    strong Kategoriler
                    ul 
                        li
                            a(href="#")  Kripto Para Haberleri
                        li
                            a(href="#")  Bitcoin Haberleri
                        li
                            a(href="#")  Analizler
                        li
                            a(href="#")  Blockchain Haberleri 
                        li
                            a(href="#")  Altcoin Haberleri
                        li
                            a(href="#")  Ethereum Haberleri 
                        li
                            a(href="#")  Dikkat Çekenler
                        li
                            a(href="#")  Coin Rehberi
                        li
                            a(href="#")  Bitcoin Rehberi
                        li
                            a(href="#")  Kripto Para Borsaları
                .col-2
                    strong Kategoriler
                    ul 
                        li
                            a(href="#")  Kripto Para Haberleri
                        li
                            a(href="#")  Bitcoin Haberleri
                        li
                            a(href="#")  Analizler
                        li
                            a(href="#")  Blockchain Haberleri 
                        li
                            a(href="#")  Altcoin Haberleri
                        li
                            a(href="#")  Ethereum Haberleri 
                        li
                            a(href="#")  Dikkat Çekenler
                        li
                            a(href="#")  Coin Rehberi
                        li
                            a(href="#")  Bitcoin Rehberi
                        li
                            a(href="#")  Kripto Para Borsaları
                .col-2
                    strong Kategoriler
                    ul 
                        li
                            a(href="#")  Kripto Para Haberleri
                        li
                            a(href="#")  Bitcoin Haberleri
                        li
                            a(href="#")  Analizler
                        li
                            a(href="#")  Blockchain Haberleri 
                        li
                            a(href="#")  Altcoin Haberleri
                        li
                            a(href="#")  Ethereum Haberleri 
                        li
                            a(href="#")  Dikkat Çekenler
                        li
                            a(href="#")  Coin Rehberi
                        li
                            a(href="#")  Bitcoin Rehberi
                        li
                            a(href="#")  Kripto Para Borsaları
    .footer-down
        .container
            .row 
                .col-8
                    .row 
                        .col-12
                            p Koinbox Blockchain, Bitcoin, DEFI ve Fintech alanlarını kapsar. Güncel ekonominin nabzını takip ederek, kripto paralar hakkında en son haberleri ve analizleri öğrenebilirsiniz.
                            .socials
                                +button(null,'facebook','square')
                                +button(null,'twitter','square')
                                +button(null,'linkedin','square')
                                +button(null,'mail','square')
                            p © Telif Hakkı 2018-2021 | Tüm Hakları Saklıdır | Dijital Asist | Koinbox Dijital Teknolojiler A.Ş | Seojen Bilişim
                .col-4
                    strong.footer-title Mobil Uygulama
                    .app-box
                        a(href="#")
                            img(src="/resources/images/appStoreBadge.png" alt="") 
                        a(href="#")
                            img(src="/resources/images/googlePlayBadge.png" alt="") 
                    form(action="#")
                        input(type="text" placeholder="Bültene Kayıt Ol")
                        button(type="submit") Kaydet