include ../mixins.pug
doctype html  
html(lang='en')  
    head
        title= Title
        link(rel='stylesheet' href='/styles/style.css')
        <meta name="viewport" content="width=device-width, initial-scale=1">
        block headscript
    body
        .layout 
            .layout-left
                include menu.pug
            .layout-center
                .container-fluid
                    include ./slider.pug
                    main
                        block content
            .layout-right
                block Side
                    include userMenu.pug
    include footer.pug
    .mobile-modal#user-popup
        .white-box.p-22
            .mobile-modal-header
                button(class="toggle-target" data-target="#user-popup").timesbtn
            h1 Giriş Yap 

            form(action="#") 
                .form-item
                    label E-Posta
                    input(type="text")
                .form-item
                    button(type="submit") Giriş Yap
            p Bir hesap oluşturarak, Gizlilik Politikamızı ve Hizmet Şartlarımızı kabul etmiş olursunuz. 
            
            a(href="#" class="sublink") Hesabın yok mu? Kayıt ol
    block Script
        script(src='/scripts/app.js')

