include ../mixins.pug
doctype html  
html(lang='en')  
    head
        title= Title
        link(rel='stylesheet' href='/styles/style.css')
        script(src="https://code.jquery.com/jquery-3.6.0.slim.js") 
        block headscript
    body
        .layout 
            .layout-left
                include menu.pug
            .layout-center
                .container-fluid
                    include ./slider.pug
                    .row
                        block content
            .layout-right
                span BTN
    include footer.pug
    block Script
        script(src='/scripts/app.js')
block side
