.menu-horizontal
    figure.logo
        img(src="/resources/images/logo.svg" alt="Koinbox")
    button.hamburger.collapse-menu
    nav 
        a(href="javascript:;") Kripto Para Haberleri
        a(href="javascript:;") Ekonomi Haberleri
        a(href="javascript:;") Bitcoin Haberleri 
        a(href="javascript:;") Coin Haberleri
        a(href="javascript:;") Coin Fiyatı
        a(href="javascript:;") Analizler
        a(href="javascript:;") Dikkat Çekenler