<!-- Menu:Start -->
header.menu
    .logo 
        figure 
            img(src="/resources/images/logo.png" alt="koinbox")
            img(src="/resources/images/icon.png" class="icon" alt="koinbox")
        button.collapse-menu
            span.icon-arrow-left
    form.search-form(action="") 
        input(type="text" placeholder="Ara")
        button(type="submit")
            span.icon-search
    ul#main-menu
        li.sub.show
            a(href="javascript:;")
                span Menü
            ul 
                li 
                    a(href="#")
                        span.icon-s-trade
                        span Kripto Para Haberleri
                li 
                    a(href="#")
                        span.icon-s-trend-up
                        span Ekonomi Haberleri
                li 
                    a(href="#")
                        span.icon-s-btc
                        span Bitcoin Haberleri 
                li 
                    a(href="#")
                        span.icon-s-book 
                        span Coin Haberleri
                li 
                    a(href="#")
                        span.icon-s-chalink
                        span Coin Fiyatı
                li 
                    a(href="#")
                        span.icon-s-trade
                        span Analizler
                li 
                    a(href="#")
                        span.icon-s-warning
                        span Dikkat Çekenler
        li.sub 
            a(href="javascript:;")
                span.icon-app
                span Diğer
            ul 
                li 
                    a(href="#")
                        span.icon-s-trade
                        span Kripto Para Haberleri
                li 
                    a(href="#")
                        span.icon-s-trend-up
                        span Ekonomi Haberleri
                li 
                    a(href="#")
                        span.icon-s-btc
                        span Bitcoin Haberleri 
                        span.icon-chart
                li 
                    a(href="#")
                        span.icon-s-book 
                        span Coin Haberleri
                li 
                    a(href="#")
                        span.icon-s-chalink
                        span Coin Fiyatı
                li 
                    a(href="#")
                        span.icon-s-trade
                        span Analizler
                li 
                    a(href="#")
                        span.icon-s-warning
                        span Dikkat Çekenler
    .full-content
        span.h-line
        span.menu-title KOINBOX TV
        <iframe width="100%" height="208" src="https://www.youtube.com/embed/L-Qhv8kLESY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- Menu:End -->