<!-- Menu:Start -->
header.menu
    .logo 
        figure 
            img(src="/resources/images/logo.png", alt="koinbox")
        button.collapse-menu
            span.icon-arrow-left
    form.search-form(action="") 
        input(type="text",placeholder="Ara")
        button(type="submit")
            span.icon-search
    nav 
        a(href="")
            span.icon-arrow-left
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
        a(href="")
            span.icon 
            span Kripto Para Haberleri
<!-- Menu:End -->