.page-cuft
    .page-cuft-content
        h1 Shiba Inu Rallisini Elon Musk Başlatmadı, Kim Başlattı?
        .tags
            include tag.pug
            include tag.pug
        p Dogecoin çılgınlığı 2021’in başlarından beri devam ediyor. Bazı kripto para tüccarları ve yatırımcıları bu şaka coin yatırımlarını kaçırmak istemiyorlar. 

        - var btnClass = "big primary"
        - var btnIcon = null 
        - var btnText = "Başla"
        include button.pug
    figure
        img(src="https://loremflickr.com/570/440" alt="")