a(href="#").video 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L-Qhv8kLESY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    h2.video-title Etiam faucibus condimentum nunc, ut egestas tellus pellentesque vel.
    .video-info 
        span.cat Bitcoin 
        span.date 14 Saat Önce
        span.author Fatih Sezer 
