.side-control-menu
    .emoji-list
        a(href="javascript:;").emoji
            span.circle
                span.icon-emoji-up 
            span +999
        a(href="javascript:;").emoji
            span.circle
                span.icon-emoji-down 
            span 14
        a(href="javascript:;").emoji.selected
            span.circle
                span.icon-emoji-bear
            span 35
        a(href="javascript:;").emoji
            span.circle
                span.icon-emoji-bull
            span 21
        a(href="javascript:;").emoji
            span.circle
                span.icon-emoji-rocket
            span 4