.side-control-menu
    ul#social-list
        li
            a(href="#") 
                span.icon-s-facebook
        li
            a(href="#") 
                span.icon-s-twitter
        li.more-item
            a(href="#") 
                span.icon-s-linkedin
        li.more-item
            a(href="#") 
                span.icon-s-facebook
        li(data-target="#social-list").active-toggle
            a(href="#") 
                span.icon-s-more