.side-control-menu#index-menu
    ul
        li
            a(href="#" data-target="#index-menu").active-toggle
                <i class="fa-regular fa-clipboard"></i>
    div.index-wrapper
        span.index-title Hızlı İçerik
        ul
            li
                a(href="#") 1. 
                    span Shiba Inu bir tokendir
            li
                a(href="#").visit 2. 
                    span Shiba Inu bir tokendir
            li
                a(href="#") 3. 
                    span Shiba Inu bir tokendir
            li
                a(href="#") 4. 
                    span Shiba Inu bir tokendir
            li
                a(href="#") 5. 
                    span Shiba Inu bir tokendir

