include ../mixins.pug
.side-control-menu#settings-menu
    ul
        li 
            a(href="#" data-target="#settings-menu").active-toggle
                <i class="fa-solid fa-sliders"></i>
    div.index-wrapper
        span.index-title Ayarlar
        ul
            li
                +labelSwitch('themeSwitch','Koyu Tema')