.side-control-menu
    ul#social-list
        li
            a(href="#") 
                <i class="fa-brands fa-facebook-f"></i>
        li
            a(href="#") 
                <i class="fa-brands fa-twitter"></i>
        li.more-item
            a(href="#") 
                <i class="fa-brands fa-linkedin-in"></i>
        li.more-item
            a(href="#") 
                <i class="fa-brands fa-facebook-f"></i>
        li(data-target="#social-list").active-toggle
            a(href="#") 
                <i class="fa-solid fa-ellipsis"></i>