<!-- Sider:Start -->
.row 
    .col-12
        .slider.layout-exchange-slider
            .slider-wrapper
                .slider-item Bitcoin BTC (24h) $47,728.75 
                    span.rate 0.95%
                .slider-item Bitcoin BTC (24h) $47,728.75 
                    span.rate.down -0.95%
                .slider-item Bitcoin BTC (24h) $47,728.75 
                    span.rate 0.95%
                .slider-item Bitcoin BTC (24h) $47,728.75 
                    span.rate.down -0.95%
                .slider-item Bitcoin BTC (24h) $47,728.75 
                    span.rate 0.95%
<!-- Sider:End -->