<!-- SpaceCard:Start -->
a(href="#").card.space
    figure 
        img(src="https://loremflickr.com/270/270?grayscale")
    p XRP, 3 Aylık Düşüş Trendi Kırıldı 1 Dolar veya Daha Fazlasını Yolda PrimeXBT Analisti: Kim Chua
<!-- SpaceCard:End -->