<!-- SpaceCardEditor:Start -->
a(href="#").card.space.editor
    figure 
        img(src="https://loremflickr.com/170/170?grayscale")
        span.star
            span.icon-star
    p XRP, 3 Aylık Düşüş Trendi Kırıldı 1 Dolar veya Daha Fazlasını Yolda PrimeXBT Analisti: Kim Chua
<!-- SpaceCardEditor:End -->