<!-- SpaceCardBig:Start -->
a(href="#").card.space.big
    figure 
        img(src="https://loremflickr.com/270/270?grayscale")
        .tags
            include tag.pug
    header 
        h2.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .card-info 
        span.cat Bitcoin 
        span.date 14 Saat Önce
        span.author Fatih Sezer 
    p XRP, 3 Aylık Düşüş Trendi Kırıldı 1 Dolar veya Daha Fazlasını Yolda PrimeXBT Analisti: Kim Chua
<!-- SpaceCardBig:End -->