span(class="user-card")
    figure 
        img(src="/resources/images/big-user.jpg" alt="")
    strong
        | Andre Cronje
    span
        | Independent DeFi developer and founder of Yearn.finance
    div.social-access
        a(href="#") 
            span.icon-s-facebook
        a(href="#") 
            span.icon-s-twitter 
        a(href="#") 
            span.icon-s-linkedin